<div class="development-infos">
  <div class="skill-points">
    {{#if allowCharCreation}}
      <div class="header-section" title="{{localize 'CoC7.SkillTotalPersonal'}}">
        <label class="{{#if invalidPersonalPoints}}error{{/if}}">{{localize 'CoC7.SkillTotalPersonal'}}:</label>
        <div class="monitor {{#if invalidPersonalPoints}}warning{{/if}}">
          <div class="current-value"><span>{{totalPersonal}}</span></div>
          <div class="separator">/</div>
          <div class="max-value">
            {{#if allowCharCreation}}
              <input type="text" name="system.development.personal" value="{{data.system.development.personal}}" data-dtype="Number" />
            {{else}}
              <span>{{data.system.development.personal}}</span>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="header-section " title="{{localize 'CoC7.SkillTotalOccupation'}}">
        <label class="{{#if invalidOccupationPoints}}error{{/if}}">{{localize 'CoC7.SkillTotalOccupation'}}:</label>
        <div class="monitor  {{#if invalidOccupationPoints}}warning{{/if}}">
          <div class="current-value"><span>{{totalOccupation}}</span></div>
          <div class="separator">/</div>
          <div class="max-value">
            {{#if allowCharCreation}}
              <input type="text" name="system.development.occupation" value="{{data.system.development.occupation}}" data-dtype="Number" />
            {{else}}
              <span>{{data.system.development.occupation}}</span>
            {{/if}}
          </div>
        </div>
      </div>
      {{#if pulpRuleArchetype}}
        <div class="header-section" title="{{localize 'CoC7.SkillTotalArchetype'}}">
          <label class="{{#if invalidArchetypePoints}}error{{/if}}">{{localize 'CoC7.SkillTotalArchetype'}}:</label>
          <div class="monitor {{#if invalidArchetypePoints}}warning{{/if}}">
            <div class="current-value"><span>{{totalArchetype}}</span></div>
            <div class="separator">/</div>
            <div class="max-value">
              {{#if allowCharCreation}}
                <input type="text" name="system.development.archetype" value="{{data.system.development.archetype}}" data-dtype="Number" />
              {{else}}
                <span>{{data.system.development.archetype}}</span>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>

  <div class="validation">
    {{#if allowCharCreation}}
      {{#if data.system.infos.occupationSet}}
        <div class="header-section {{#if invalidCreditRating}}warning{{/if}}" title="{{localize 'CoC7.CoCIDFlag.keys.i.skill.credit-rating'}}">
          <label class="{{#if invalidCreditRating}}error{{/if}}">{{creditRatingMin}}&lt{{localize 'CoC7.CoCIDFlag.keys.i.skill.credit-rating'}}&lt{{creditRatingMax}}</label>
        </div>
      {{/if}}
      {{#if data.system.infos.archetypeSet}}
        <div class="header-section {{#if invalidPulpTalents}}warning{{/if}}" title="{{localize 'CoC7.PulpTalents'}}">
          <label class="{{#if invalidPulpTalents}}error{{/if}}">{{localize 'CoC7.PulpTalents'}}: {{pulpTalentCount}}/{{minPulpTalents}}</label>
        </div>
      {{/if}}

      {{#unless allowDevelopment}}
        <div class="header-section  {{#if hasDevelopmentPhase}}flagged4dev{{/if}}" title="{{localize 'CoC7.SkillTotalExperience'}}">
          <label>{{localize 'CoC7.SkillTotalExperience'}}:</label>
          <span>{{totalExperience}}</span>
        </div>
      {{/unless}}
    {{/if}}

  </div>

  <div class="experience">
    {{#if allowDevelopment}}
      <div class="header-section" title="{{localize 'CoC7.SkillTotalExperience'}}">
        {{#if hasDevelopmentPhase}}
          <div class="skill-developement button" title="{{localize 'CoC7.DevelopemmentPhase'}}">{{localize 'CoC7.DevelopemmentPhase'}}</div>
        {{/if}}
        {{#if developmentRollForLuck}}
          <div class="luck-development button" title="{{localize 'CoC7.RecoverLuckPoints'}}">{{localize 'CoC7.RecoverLuckPoints'}}</div>
        {{/if}}
        <br><br>
        <label>{{localize 'CoC7.SkillTotalExperience'}}:</label>
        <span>{{totalExperience}}</span>
      </div>
    {{/if}}
  </div>

  <label class="missing-attrib-warning">{{localize 'CoC7.DevelopAttribWarn'}}</label>
</div>