.chat-card-v2{
    .roll-results{
        padding: 0 0 3px 0;
        border-bottom: 2px groove #FFF;        
    }

    .dice-formula{
        margin: 0 !important;
    }

    .dice-roll{
        padding-top: 3px;
    }

    // .san-check, .int-check{
    //     .check-result{
    //         display: none;
    //     }
    // }

    .san-loss-roll{
        .dice-formula{
            display: none;
        }
    }

    .status-list{
        display: none;
    }
}