.window-app .window-content .compendiumfilter {
  line-height: 32px;
  flex: none;
  padding-bottom: 3px;
  color: var(--color-border-light-1);

  .flexrow {
    align-items: center;
    margin: 0 0 3px;

    i.fa-regular,
    i.fas,
    i.fa-solid {
      flex: 0 0 24px;
      text-align: center;
    }

    select {
      margin: 0 3px;
      background: rgba(255, 255, 245, 0.8);
    }
  }
}
