.coc7-link,
.coc7-inline {
  background: #ddd;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
  i {
    vertical-align: middle;
  }
}
.coc7-inline-check {
  .chatFont();
  font-size: 0.75rem;
  text-align: left;
}
