#help-tooltip {
  z-index: 509;
  position: absolute;
  left: -999px;
  top: -999px;
  background-color: #fff;
  padding: 0.5rem 0 0 0;
  border: 2px solid #670b0b;
  background: url(../../ui/parchment.jpg) repeat;

  label {
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  ol {
    padding: 0;
    margin: 0 0.5rem 0.5rem;
    list-style: none;

    li {
      font-size: 0.75rem;
    }
  }
}

.coc7-tooltip {
  .tooltipster-box {
    background-color: #fff;
    // border: 1px solid @colorRed;
    background: var(--chat-background);
    border: 1px solid #000;
    border-radius: 0.3rem;
    box-shadow: 0 0 06rem #000;
    // border: 1px solid white;
    // background: url(../../ui/parchment.jpg) repeat;
  }

  .tooltipster-content  {
	  // padding: 0.5rem 0.5rem;
    color: #191813;
    text-shadow: none;
    padding: 0.3rem 0.3rem 0;

    // background-color: #292A2D;
    // color:white;
    // color: black;
    font-weight: 400;
    font-size: 0.8rem;

    p {
      margin: 0;
      line-height: 1rem;
    }

    .properties {
      border-top: 2px groove #fff;
      padding: 0;
      margin: 0;
      line-height: unset;
      .property {
        display: inline;
        vertical-align: middle;
        text-align: center;
        padding: 0 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.6rem;
        border: 1px solid #999;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .tooltipster-arrow-background {
    display: none;
  }

  &.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #000;
  }

  &.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #000;
  }

  &.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #000;
  }

  &.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #000;
  }
}