.coc7.sheet.actor{

	.development{

		.warning{
			color: darkred;
			font-weight: bolder;
		}

		&.header{
			flex: initial;
			border-bottom: 1px groove;
			line-height: 20px;

			.header-section{
				border-right: 1px groove;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				&:last-child { border-right: none; }
			}

			input {
				width: 30px;
				padding: 0;
				margin: 0;
			}
		}

		.button{
			flex: 0 0 auto;
			margin: 1px;
			color: black;
		}

		.flagged4dev{
			color: goldenrod;
		}

		.item {
			flex: 0 0 10px;

			.skill-name{ 
				flex: 1;
				font-size: 12px;
				height: 16px;
				padding: 0;
				text-align: left;
				
				&.flagged4dev{
					&.rollable:hover{
						cursor: pointer;
					}
				}
			}

			.item-controls{
				flex: 0 0 30px;
				line-height: 16px;
				font-size: 10px;
				padding: 0 2px;

				.item-control{
					
					&:hover{
						cursor: default;
					}

					&.clickable:hover{
						cursor: pointer;
					}
				}
			}

		}

		.adjustment-value{

			&.not-available{
				background: white;
			}

			border-right: groove 1px;
			flex: 0;
			height: 16px;
			line-height: 16px;

			input {
				font-size: 11px;
				flex: 0 0 15px;
				height: 16px;
				padding: 0 1px;
				margin: 0;
				text-align: right;
			}
		}
	}

	.sheet-section{

		h3{
			margin: 0 -5px 0 0;
			padding-left: 5px;
			font-family: "Signika", sans-serif;
			font-weight: bold;
			font-size: 13px;
		}

		.editor{
			width: 100%;
			height: 200px;
			border: 2px groove #eeede0;
			padding: 0;
			line-height: normal;
    		font-size: 12px;
		}

		.editor-content{
			overflow-x: hidden;
		}

		.section-header{
			margin: 2px 0 0 0;
			padding: 0;
			background: rgba(0, 0, 0, 0.05);
			border: 2px groove #eeede0;
			font-weight: bold;
			line-height: 15px;
			height: 100%;
		}
	}

	input:read-only:hover,
	input:read-only:focus {
		border: 1px solid transparent;
		box-shadow: none;
		cursor: default;
	}

	.read-only:hover,
	.read-only:focus {
		border: 1px solid black;
	}
	
	.info-fields{
		.form-group{
			label{
				width: auto;
				flex: unset;
				line-height: 18px;
				height: 18px;
				border: 0;
				margin: 0;
				font-weight: bold;
			}
		}
	}
}