.coc7.dialogue{
    .selectable:hover{
        text-shadow: 0 0 8px red;
    }

    .selected{
        text-shadow: 0 0 4px red;
        h4{
            font-weight: bold;
        }
    }

    button{
        &.inactive:hover{
            box-shadow: 0 0 5px grey;
        }
    }
}