# IDEs and local configs
.husky/_
.idea/
.vs/
.vscode/

# Logs and temp files
*.log
*.todo
yarn.lock
/node_modules/
/package-lock.json
/temp/

# Build output
/dist/
/packs/
/docs/

# Local Foundry VTT config
/fvtt.config.js
