/binary-packs/
*.todo
/fvtt.config.json
/node_modules/
/package-lock.json
/temp/
# Previous file structure
.husky/_
.idea/
.vs/
.vscode/
*.log
build/
coverage/
target/
yarn.lock
/dist/
/fvtt.config.js
/packs/
