<div class="flexrow item-header">
  <div class="flexcol item-property">
    <div class="flexrow">
      <input class="large" type="text" name="name" value="{{document.name}}" placeholder="{{localize 'CoC7.Name'}}" />
    </div>
  </div>
  <img class="profile-img small" src="{{document.img}}" data-action="editImage" data-edit="img" />
</div>