#controls {
  .coc7-menu {
    background: rgba(30, 80, 80, 0.5) !important;
    &.active,
    &:hover {
      border: 1px solid green !important;
      border-bottom: 1px solid #008060 !important;
      box-shadow: 0 0 10px #008060 !important;
    }
  }
  li.control-tool.active {
    i.fa-certificate {
      color: goldenrod;
    }
  }
}
