#controls {
  .scene-control.custom-control {
    background: rgba(30, 80, 80, 0.5) !important;
    &.active,
    &:hover {
      border: 1px solid green !important;
      border-bottom: 1px solid #008060 !important;
      box-shadow: 0 0 10px #008060 !important;
    }
    .control-tool {
      &.xp_toggle {
        &.active {
          color: goldenrod;
        }
      }
    }
  }
}
