<div class="flexcol">
  <div class="flexrow item-header">
    <div class="flexcol item-property">
      <div class="flexrow">
        <input class="large" type="text" value="{{document.name}}" readonly />
      </div>
      <div class="flexrow">
        <input type="text" value="{{document.system.specialization}}" readonly />
        <input type="text" value="{{document.system.value}}%" readonly />
      </div>
    </div>
    <img class="profile-img small" src="{{document.img}}" />
  </div>
</div>