<div class="coc7-dropdown-content chat-message flexcol">
  {{#each buttons as |button|}}
    <button data-action="setItem" data-item-id="{{button.id}}">{{button.name}} ({{button.value}}%)</button>
  {{/each}}
</div>