<div class="investigator">
  <aside class="personal-details">
    {{~> 'systems/CoC7/templates/actors/investigator-v3/parts/portrait-frame.hbs'}}
    <div class="scroll-container">
      {{~> 'systems/CoC7/templates/actors/investigator-v3/parts/biography.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/parts/attributes-primary.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/parts/attributes-secondary.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/parts/attributes-derived.hbs'}}
    </div>
  </aside>
  <div class="sheet-main">
    <div class="sheet-body">
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/active-effects.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/keeper.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/skills.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/combat.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/possession.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/background.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/development.hbs'}}
      {{~> 'systems/CoC7/templates/actors/investigator-v3/tabs/portrait-config.hbs'}}
    </div>
  </div>
</div>