<div class="coc7 chat-card melee resolution"
    data-actor-key="{{winner.actorKey}}"
    data-initiator-key="{{initiator.actorKey}}"
    data-target-key="{{target.actorKey}}"
    data-initiator-message="{{initiatorMessage}}"
    data-target-message="{{targetMessage}}"
    data-resolved="{{resolved}}"
    data-winner-key="{{winner.actorKey}}"
    data-looser-key="{{looser.actorKey}}"
    data-resolved="{{resolved}}"
>
<header class="card-header flexcol">
    <div class="flexrow">
        <h3 style="text-align: center;font-weight: bolder;"class="card-title">{{resultString}}</h3>
    </div>
</header>

{{#if rollDamage}}
<div class="card details">
    {{#if looser}}
        <h4>{{looser.token.name}} takes {{winner.weapon.data.data.range.normal.damage}}{{#if winner.weapon.data.data.properties.addb}}+DB{{/if}}{{#if winner.weapon.data.data.properties.ahdb}}+DB/2{{/if}} from {{winner.weapon.name}}</h4>
    {{else}}
    <h4>{{winner.token.name}} deals {{winner.weapon.data.data.range.normal.damage}}{{#if winner.weapon.data.data.properties.addb}}+DB{{/if}}{{#if winner.weapon.data.data.properties.ahdb}}+DB/2{{/if}} with {{winner.weapon.name}}</h4>
    {{/if}}
</div>
<div class="card-buttons owner-only" data-actor-id="{{winner.actorKey}}" style="padding: 2px 0;margin: 0;">
    <button 
      data-action="roll-melee-damage"
      data-target="{{looser.actorKey}}"
      data-dealer="{{winner.actorKey}}"
      data-weapon="{{winner.weapon._id}}"
      data-critical="{{winner.roll.criticalDamage}}">
        Roll damage
    </button>
</div>
{{/if}}

</div>