.sheetV2{
	&.character{
		min-width: 687px;
		min-height: 629px;
		
		form{
			display: inline-block;
			border: 1px solid;
			border-image: url( './artwork/backgrounds/character-sheet.png') 4 repeat;
			border-image-slice: 450 200 50 200 fill;
			border-image-width: 450 200 50 200;
			.container{
				background-image: url(./artwork/tentacules.png);
				background-repeat: no-repeat;
				margin: -1px;
				display: grid;
				grid-template-columns: auto;
				grid-template-rows: 195px 30px auto;
				width: 100%;
				height: 100%;

				.sheet-header{
					width: 100%;
					height: 170px;
					border: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					
					.photo{
						flex: 0 0 140px;
						max-width: 140px;
						max-height: 170px;
						object-fit: contain;
						border: 0;
						// background-color: rgb( 0, 255, 0, 0.1);
					}

					.infos{
						display: inline-block;
						width: 235px;
						padding-right: 5px;
						border-right: 2px solid;
						border-color: @borderColorBlue;
						// background-color: rgb( 255, 255, 0, 0.1);
						.row{
							a{
								display: contents;
							}

							i{
								padding-top: 7px;
							}
						}
					}

					.characteristics{
						flex: 1;
						font-weight: bold;
						display: flex;
						flex-direction: column;
						height: 100%;
						// grid-template-columns: auto 240px auto;
						// grid-template-rows: auto 96px auto;
						// background-color: #2196F3;
						// grid-gap: 1px;
					

						.header{
							flex:1;
						}

						.footer{
							flex:1;
							display: flex;
							flex-direction: row;

							// background-color: lightgreen;

							.attribute{
								flex: 0 0 25%;
								display: grid;
								grid-template-columns: auto 32px;
								align-items: center;
								justify-content: center;
								
								&.manual-override{
									h2{
										text-decoration: underline;
										text-decoration-color: red;
									}
								}
							}

							.attribute-label{
								min-width: 0;

								&.auto-toggle{
									cursor: pointer;
								}

								h2{
									border: 0;
									padding: 0;
									margin: 0;
									line-height: 22px;
									font-size: 12px;
									color: @colorBlue;
									font-weight: normal;
									text-align: right;
									text-overflow: ellipsis;
									white-space: nowrap;
									overflow: hidden;
								}
							}

							.attribute-value{
								text-align: center;
								font-size: 12px;
								color: @colorBlue;
								font-weight: normal;
								
								input{
									padding: 0;
									font-size: 12px;
									color: @colorBlue;
									background-color: @greyBackground;
									font-weight: normal;
								}
							}
							
						}

						.char-boxes{
							flex: 0 0 96px;
							justify-content: center;
							display: grid;
							grid-template-columns: repeat( 4, 60px);
							grid-template-rows: repeat( 2, 48px);
						}

						.char-box{
							display: grid;
							grid-template-columns: 16px 44px;
							grid-template-rows: 16px 32px;
							grid-template-areas: "rollIcon characName"
												 "characScore characScore";

							.roll-icon{
								color: @colorBlue;
								grid-area: rollIcon;
							}

							.charac-name{
								color: @colorBlue;
								grid-area : characName;
							}

							.charac-score{
								grid-area: characScore;
								margin-top: 4px;
								margin-right: 8px;
								border-radius: 4px;
								color: @colorRed;
								background: @whiteBackground;
								display: grid;
								grid-template-columns: 38px 14px;
								grid-template-rows: 14px 14px;
								grid-template-areas: "mainScore halfScore"
													 "mainScore fithScore";

								.main-score{
									grid-area: mainScore;
									justify-self: center;
									align-self: center;
								}

								.half-score{
									grid-area: halfScore;
									font-size: 10px;
									justify-self: center;
									align-self: center;
								}

								.fith-score{
									grid-area: fithScore;
									font-size: 10px;
									justify-self: center;
									align-self: center;
								}
							}

						}

						input{
							text-align: center;
							color: @colorRed;
							font-size: large;
							&:hover, &:focus{
								background: transparent;
							}

							&:read-only{
								border: 1px solid transparent;
								box-shadow: none;
								cursor: default;
							}
						}
					}
				}

				.sheet-nav{
					border-top: 1px solid @colorBlue;
					color: @colorBlue;
					font-weight: bold;
					font-size: 15px;
					margin: 0 8px;
					display: flex;
    				flex-direction: row;
    				flex-wrap: wrap;
					justify-content: flex-start;
					
					a{
						&:hover{
						text-shadow: none;
						}

						&.active{
							span{
								color: white;
								background-color: @colorBlue;
							}
						}
					}

					.tab-name{
						text-align: center;
						align-items: center;
						justify-content: center;
					}

					span{
						display: inline-block;
						width: fit-content;
						color: @colorBlue;
						border: 1px solid transparent;
						border-radius: 4px;
						height: 20px;
    					line-height: 18px;
    					padding: 0 8px;
    					margin: 4px;

						&:hover{
							border: 1px solid @colorBlue;
						}
					}
					
					.unlock-control{
						flex: 0 0 24px;
						margin-top: 2px;
					}
				}

				.sheet-body{
					border: 1px solid @colorBlue;
					margin: 0 8px 8px 8px;
					overflow: scroll;
				}
			}
		}
	}
}