.sheetV2{
	&.character{
		min-width: 687px;
		min-height: 629px;
		
		form{
			display: inline-block;
			border: 1px solid;
			border-image: url( './artwork/backgrounds/character-sheet.png') 4 repeat;
			border-image-slice: 450 200 50 200 fill;
			border-image-width: 450 200 50 200;
			
			.sheet{
				background-image: url(./artwork/tentacules.png);
				background-repeat: no-repeat;
				margin: -1px;
				display: grid;
				width: 100%;
				height: 100%;
				grid-template-areas: "picture infos characteristics"
									 "tabSelector tabSelector tabSelector"
									 "tabContainer tabContainer tabContainer";
				grid-template-columns: 140px 230px auto;
				grid-template-rows: 170px 110px auto;
				align-items: center;
				justify-content: center;
			}

			.picture{
				grid-area: picture;
				background-color: rebeccapurple;
			}

			.infos{
				grid-area: infos;
				background-color: royalblue;
			}

			.tabs-selector{
				width: 100%;
				height: 100%;
				grid-area: tabSelector;
				background-color: greenyellow;
			}
							
			.tab-container{
				width: 100%;
				height: 100%;
				grid-area: tabContainer;
				background-color: blueviolet;
				border: 2px solid;
				border-color: @borderColorBlue;
			}

			.characteristics{
				width: 100%;
				height: 100%;
				grid-area: characteristics;
				background-color: #2196F3;
				display: grid;
				height: 100%;
				width: 100%;
				grid-template-areas:	"header   header  header"
										"rightCol charbox leftCol"
										"footer   footer  footer";
				grid-template-columns: auto 230px auto;
				grid-template-rows: auto 110px auto;
				grid-gap: 1px;
			}

			.header{
				grid-area: header;
				background-color: LightSeaGreen;
			}

			.footer{
				grid-area: footer;
				background-color: lightgreen;
			}

			.leftCol{
				grid-area: leftCol;
				background-color: orange;
			}
			 
			.rightCol{
				grid-area: rightCol;
				background-color: lightblue;
			}

			.charbox{
				grid-area: charbox;
				background-color: lightgrey;
				border: 1px groove;
				display: grid;
			}
		}
	}
}