@colorBlue: rgba(43,55,83,1);
@borderColorBlue: rgba(43,55,83,0.5);
@colorRed: rgba(103,11,11,1);
@whiteBackground: rgba(255,255,255,0.5);
@greyBackground: rgba(0, 0, 0, 0.1);

.defaultFont{
	font-family: 'Bradley Hand', cursive;
}