html{
	font-size: 16px;
}

.sheetV2{
	.no-skill-set,.error{
		background-color: red;
		border-radius: 4px;
	}

	.coc7.sheet.actor.temp-retro-compat{
		// background-image: url('./artwork/background.png');
		overflow: auto;
	}

	.defaultFont();

	&.app{
		background: var(--main-sheet-back-color);
	}


	.window-header{
		background: var(--main-sheet-front-color);
		margin: 4px 4px 0 4px;
		width: auto;
	}

	.window-content{
		margin: 0 8px 8px 8px;
		padding: 0;
		color: var(--main-sheet-front-color);
		font-size: 0.8rem;

		.rollable:hover{
			color: #000;
    		text-shadow: 0 0 10px var( --main-sheet-interactie-color);
	    	cursor: pointer;
		}


		span{
			color: #000;
			height: 22px;
			line-height: 22px;
			padding: 1px 3px;
			overflow: hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			max-width: 100%;
			display: block
		}

		label{
			height: 22px;
			line-height: 22px;
			display: block;
			margin: 0;
			padding: 0;
			border: 0;
			font-weight: bold;
			width: auto;
		}
		
		.tag{
			display: inline;
			height: auto;
			line-height: unset;
			vertical-align: middle;
			text-align: center;
			padding: 0 3px;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 0.6rem;
			border: 1px solid #999;
			border-radius: 3px;
			background: rgba(0, 0, 0, 0.05);
		}

		input[type='text']{
			flex: 1;
			height: 22px;
			border: 0;
			margin: 0;
			width: 100%;
			border-radius: 4px;
			background: transparent;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&:hover, &:focus{
				box-shadow: 0 0 8px var(--main-sheet-interactie-color);
				background: @greyBackground;
			}
		}
	}
	

}