<li class="message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}" {{/if}}>
  <header class="message-header flexrow">
    {{#if message.flags.img}}
      <img class="sender-image flex0" style='object-fit: contain;border:none;' src="{{message.flags.img}}" title="{{alias}}" width="36" height="36" />
      <h4 class="message-sender sender-image" style="margin-left:2px;line-height: 36px;">{{alias}}</h4>
      <span class="message-metadata" style="line-height: 36px;">
        <time class="message-timestamp">{{timeSince message.timestamp}}</time>
        {{#if user.isGM}}
          <a class="button message-delete"><i class="fas fa-trash"></i></a>
        {{/if}}
      </span>
    {{else}}
      <h4 class="message-sender">{{alias}}</h4>
      <span class="message-metadata">
        <time class="message-timestamp">{{timeSince message.timestamp}}</time>
        {{#if user.isGM}}
          <a class="button message-delete"><i class="fas fa-trash"></i></a>
        {{/if}}
      </span>
    {{/if}}

    {{#if isWhisper}}
      <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
    {{/if}}

    {{#if message.flavor}}
      <span class="flavor-text">{{{message.flavor}}}</span>
    {{/if}}
  </header>
  <div class="message-content">
    {{{message.content}}}
  </div>
</li>