{{ !-- Deprecated 
    <!-- <div class="coc7 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" data-value="{{item.data.value}}"  {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img style="flex: none;" src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 style="text-align: center;font-weight: bolder;" class="item-name">{{item.name}}/{{item.data.value}}%</h3>
    </header>
    <div class="card-content" style="display: none;">
        {{{item.data.description.value}}}
    </div>
    <div class="radio-selector" id="rolltype" data-selected="regular" style="display:inline-flex;padding: 2px 0;border-bottom: groove 2px;">
        <span class="radio-switch switched-on" data-property="regular">Regular</span>
        <span class="radio-switch" data-property="combined">Combined</span>
        <span class="radio-switch" data-property="effort">Effort</span>
        <span class="radio-switch" data-property="opposed">Opposed</span>
    </div>

    <div class="flexcol protagonists" id="protagonists" style="padding: 3px 0">
        <div class="toggle-panel backers" id="backerspanel" data-selected="false">
            <span class="panel-switch" style="display: inline-flex"  data-command="add-backers">Backers :</span>
            <div class="panel-content backers" style="display: none">
                <div class="radio-selector backers-condition" id="backerscondition" data-selected="any-roll">
                    <span class="radio-switch switched-on" data-property="any-roll">Any</span>
                    <span class="radio-switch" data-property="all-rolls">All</span>
                </div>
                <div class="flex1 backers-list" style="min-height: 40px; border: groove 1px; padding: 0 2px;" id="backers"></div>
            </div>
        </div>

        <div class="toggle-panel adversaries" id="adversariespanel" data-selected="false">
            <span class="panel-switch" style="display: inline-flex" data-command="add-adversaries">Adversaries :</span>
            <div class="panel-content adversaries" style="display: none">
                <div class="radio-selector adversaries-condition" id="adversariescondition" data-selected="any-roll"> 
                    <span class="radio-switch switched-on" data-property="any-roll">Any</span>
                    <span class="radio-switch" data-property="all-rolls" id="prout-prout">All</span>
                </div>
                <div class="flex1 adversaries-list" style="min-height: 40px; border: groove 1px;  padding: 0 2px;" id="adversaries"></div>
            </div>
        </div>
    </div>

    <form id="test-form">
    <div class="flexrow" style="padding: 4px 0;">
        <div style="flex: 1;"><label>Bonus dices</label></div>
        <div style="flex: 1;display: flex;flex-direction: column;">
            <div class="flexrow">
                <span style="flex: 1; text-align: left;">-5</span>
                <span style="flex: 1; text-align: center;">0</span>
                <span style="flex: 1; text-align: right;">+5</span>
            </div>
            <input type="range" name="bonusDices" min="-5" max="5" value="0" class="slider" id="myslider">
        </div>
    </div>
    </form>

    <div class="flex1 opponant" style="border: groove 2px; padding: 3px 0; height: 25px" id="opponant"></div>

    <div class="card-buttons  owner-only">
        <div class="gm-only">
            <button data-action="validate">Validate</button>
        </div>
        <div class="gm-only">
            <button data-action="lock">Lock</button>
        </div>
        <button data-action="roll">Roll</button>
    </div>

    <footer class="card-footer">
    </footer>
</div> --> --}}