{{#if card.checks.attack.requested}}
    <div class="card-buttons">
      <button data-action="rollAttackCheck">{{ localize 'CoC7.roll' }} - {{ card.attackerWeapon.name }} ()</button>
    </div>
{{/if}}