<div class="flexcol narration">
  {{#if card.attackIsManeuver}}
  <span>{{card.strings.youPerformManeuver}}</span>
  {{else}}
  <span>{{card.strings.youPerformAttack}}</span>
  {{/if}}
</div>
{{#if (eq data.checks.attack.state card.rollStates.rolled)}}
  <div data-roll="attack">
    {{{htmlAttackCheck}}}
  </div>
{{/if}}
