<div class="flexcol narration">
  <span>{{card.strings.attackChoice}}</span>
  <span>{{card.strings.attackDetails}}{{#if card.checksClosed}} {{{htmlAttackCheckInline}}}{{/if}}</span>
</div>
{{#if (eq data.checks.attack.state card.rollStates.rolled)}}
  <div data-roll="attack">
    {{{htmlAttackCheck}}}
  </div>
{{/if}}
