<form class="{{cssClass}} flexcol" autocomplete="off" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>

	{{!-- Sheet Header --}}
	<header class="sheet-header flexcol" style="flex: 0 0 200px; flex-direction: column; flex-wrap: nowrap;">
		<div class="flexrow" style="display: flex;">
			<div class="info-fields">
				<div class="form-group">
					<label>{{ localize 'CoC7.Name' }}</label>
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'CoC7.Name' }}"/>
				</div>
				<div class="form-group">
					<label>{{ localize 'CoC7.Occupation' }}</label>
					<input name="data.infos.occupation" type="text" value="{{data.infos.occupation}}"/>
				</div>
				<div class="form-group">
					<label>{{ localize 'CoC7.Age' }}</label>
					<input name="data.infos.age" type="text" value="{{data.infos.age}}"/>
					<label>{{ localize 'CoC7.Sex' }}</label>
					<input name="data.infos.sex" type="text" value="{{data.infos.sex}}"/>
				</div>
				<div class="form-group">
					<label>{{ localize 'CoC7.Residence' }}</label>
					<input name="data.infos.residence" type="text" value="{{data.infos.residence}}"/>
				</div>
				<div class="form-group">
					<label>{{ localize 'CoC7.Birthplace' }}</label>
					<input name="data.infos.birthplace" type="text" value="{{data.infos.birthplace}}"/>
				</div>
			</div>

			<div class="characteristics flex3">
				{{#each data.characteristics as |characteristic key|}}
					<div class="characteristic-box" data-characteristic="{{key}}">
						<div class="characteristics-label rollable">{{localize characteristic.label}}</div>
						{{#if characteristic.editable}}
						<input class="characteristic-score" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number">
						{{else}}
						<input class="characteristic-score read-only" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number" readonly>
						{{/if}}
						<div class="characteristics-threshold">
							<span class="characteristics-hard">{{characteristic.hard}}</span><div class="flex1"></div><span class="characteristics-extreme">{{characteristic.extreme}}</span>
						</div>
					</div>
				{{/each}}
			</div>
			<img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="100" width="100"/>
		</div>

		<div class="flexrow" style="flex: none;height: 20px;">
			<div class="flexrow flex1 attribute" data-attrib="hp">
				<label class="attribute-label">{{localize 'CoC7.HitPoints'}}</label>
				<input class="attribute-value" type="text" name="data.attribs.hp.value" value="{{data.attribs.hp.value}}"  data-dtype="Number"/>
				<span style="flex: none;font-size: large;">/</span>
				<input class="attribute-max read-only" type="text" name="data.attribs.hp.max" value="{{data.attribs.hp.max}}" data-dtype="Number" data-attrib="hp" readonly>
				<div class="flex1"></div>
			</div>
			<div class="flexrow flex1 attribute" data-attrib="mp">
				<label class="attribute-label">{{localize 'CoC7.MagicPoints'}}</label>
				<input class="attribute-value" type="text" name="data.attribs.mp.value" value="{{data.attribs.mp.value}}" data-dtype="Number"/>
				<span style="flex: none;font-size: large;">/</span>
				<input class="attribute-max read-only" type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" data-attrib="mp" readonly>
				<div class="flex1"></div>
			</div>
			<div class="flexrow flex1 attribute" data-attrib="san">
				<label class="attribute-label rollable">{{localize 'CoC7.Sanity'}}</label>
				<input class="attribute-value" type="text" name="data.attribs.san.value" value="{{data.attribs.san.value}}" data-dtype="Number"/>
				<span style="flex: none;font-size: large;">/</span>
				<input class="attribute-max read-only" type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" data-attrib="san" readonly>
				<div class="flex1"></div>
			</div>
			<div class="flexrow flex1 attribute" data-attrib="lck">
				<label class="attribute-label rollable">{{localize 'CoC7.Luck'}}</label>
				<!-- <input class="attribute-value" type="text" name="data.attribs.lck.value" value="{{data.attribs.lck.value}}" data-dtype="Number"/>
				<span style="flex: none;font-size: large;">/</span> -->
				<input class="attribute-value read-only" type="text" name="data.attribs.lck.value" value="{{data.attribs.lck.value}}" data-dtype="Number" data-attrib="lck" readonly>
				<div class="flex1"></div>
			</div>
		</div>
		<div class="flexrow" style="align-items: center; flex: none;height: 20px;">
			<div class="flex1 attribute" data-attrib="mov">
				<label class="attribute-label">{{localize 'CoC7.Movement'}} :</label> <span style="flex: none;font-size: medium;line-height: 20px;">{{data.attribs.mov.value}}</span>
			</div>
			<div class="flex1 flexrow attribute" data-attrib="db" data-roll-formula="{{data.attribs.db.value}}">
				<label class="attribute-label rollable" data-attrib="db">{{localize 'CoC7.BonusDamage'}} :</label>
				{{#if data.attribs.db.auto}}
				<span class="attribute-value" type="text" style="line-height: 22px;"> {{data.attribs.db.value}} </span>
				{{else}}
				<input class="attribute-value {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.db.value" value="{{data.attribs.db.value}}" data-dtype="String" {{#if data.flags.locked}}readonly{{/if}}>
				{{/if}}
				<!-- {{#if hasDBFormula}}
				<div style="line-height: 22px;" data-type="attrib" data-attrib="db" data-formula="{{data.attribs.db.value}}"><i class="fas fa-dice-d20"></i> {{data.attribs.db.value}}</div>
				{{else}}
				<span style="flex: none;font-size: large;">{{data.attribs.db.value}}</span>
				{{/if}} -->
			</div>
			<div class="flex1 attribute" data-attrib="build">
				<label class="attribute-label">{{localize 'CoC7.Build'}} :</label> <span style="flex: none;font-size: medium;line-height: 20px;">{{data.attribs.build.value}}</span>
			</div>
		</div>
		<div class="status-monitors flexrow">
			<a class="status-monitor {{#if data.status.unconscious.value}}status-on{{/if}}" title="Unconsious" data-status="unconscious"> <i class="fas fa-bed"></i></a>
			<a class="status-monitor {{#if data.status.criticalWounds.value}}status-on{{/if}}" title="Critical" data-status="criticalWounds"> <i class="fas fa-user-injured"></i></a>
			<a class="status-monitor {{#if data.status.dying.value}}status-on{{/if}}" title="Dying" data-status="dying"> <i class="fas fa-heartbeat"></i></a>
			<div style="flex: 0 0 40px;"></div>
			<a class="status-monitor {{#if data.status.tempoInsane.value}}status-on{{/if}}" title="Temporary insanity" data-status="tempoInsane"> <i class="fas fa-filter"></i></a>
			<a class="status-monitor {{#if data.status.indefInsane.value}}status-on{{/if}}" title="Indefinite insanity" data-status="indefInsane"> <i class="far fa-hospital"></i></a>
			<div class="flex1"></div>
			{{#if data.flags.locked}}
			<a class="lock"  style="flex: 0 0 16px;"  title="Unlock Actor" data-locked="true"> <i class="fas fa-lock"></i></a>
			{{else}}
			<a class="lock"  style="flex: 0 0 16px;" title="Lock Actor" data-locked="false"> <i class="fas fa-lock-open"></i></a>
			{{/if}}
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize 'CoC7.Skills'}}</a>
		<a class="item" data-tab="combat">{{localize 'CoC7.Combat'}}</a>
		<a class="item" data-tab="possession">{{localize 'CoC7.Possessions'}}</a>
		<a class="item" data-tab="background">{{localize 'CoC7.Background'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		
		{{!-- Skills Tab --}}
		<div class="tab skills flexcol active" data-group="primary" data-tab="skills">
			{{#unless data.flags.locked}}
			<div class="flexrow" style="max-height: 14px;">
				<div class="flex1"></div>
				<div style="flex: 0 0 14px;">
					<a class="add-item" title="Add Skill" data-type="skill"><i class="fas fa-plus-circle"></i></a>
				</div>
			</div>
			{{/unless}}
			{{> "systems/CoC7/templates/actors/parts/actor-skills.html"}}
		</div>

		<div class="tab combat flexcol" data-group="primary" data-tab="combat">
			{{#unless data.flags.locked}}
			<div class="flexrow" style="max-height: 14px;">
				<div class="flex1"></div>
				<div style="flex: 0 0 14px;">
					<a class="add-item" title="Add Weapon" data-type="weapon"><i class="fas fa-plus-circle"></i></a>
				</div>
			</div>
			{{/unless}}
			{{> "systems/CoC7/templates/actors/parts/actor-weapons.html"}}
		</div>
		
		<div class="tab possession flexcol" data-group="primary" data-tab="possession">
			{{#unless data.flags.locked}}
			<div class="flexrow" style="max-height: 14px;">
				<div class="flex1"></div>
				<div style="flex: 0 0 14px;">
					<a class="add-item" title="Add Item" data-type="item"><i class="fas fa-plus-circle"></i></a>
				</div>
			</div>
			{{/unless}}

			<ol class="items-list">
				{{#each itemsByType.item as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})"></div>
						<h4 class="item-name">{{item.name}}</h4>
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
			</ol>
		</div>

		<div class="tab background" style="display: flex;border: 2px groove #eeede0;padding: 0 5px;" data-group="primary" data-tab="background">
			{{editor content=data.biography.personalDescription.value target="data.biography.personalDescription.value" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>