<form class="{{cssClass}} flexcol" autocomplete="off" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <div class="sheet">
        <div class="picture">
            <img class="photo" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        </div>
        <div class="infos">
            <div class="row flexrow">
                <label>Name: </label>
                <input class="attribute-value" type="text" name="data.attribs.hp.value" value="Ilyevna Korolieva"  data-dtype="String"/>
            </div>
            <div class="row flexrow">
                <label>Age: </label>
                <input class="attribute-value" type="text" name="data.attribs.hp.value" value="24"  data-dtype="Number"/>
                <label>Sex: </label>
                <input class="attribute-value" type="text" name="data.attribs.hp.value" value="Female"  data-dtype="String"/>
            </div>
            <div class="row">Loremp Ipsum</div>
            <div class="row">Loremp Ipsum</div>
            <div class="row">Loremp Ipsum</div>
        </div>
        <div class="characteristics">
            <div class="header">HEADER</div>
            <div class="footer">FOOTER</div>
            <div class="charbox">Charboxes</div>
            <div class="leftCol"></div>
            <div class="rightCol"></div>
        </div>

        <div class="tabs-selector"></div>
        <div class="tab-container"></div>
    
    <!-- <header class="sheet-header">
	</header>
    
    {{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
    </nav>

    {{!-- Sheet Body --}}
	<section class="sheet-body">
    </section> -->
    </div>
</form>
