<form class="{{cssClass}} flexcol" autocomplete="off" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>

	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow" style="flex: 0 0 auto;padding-bottom: 10px;border-bottom: 2px groove;">
		<div class="flexcol">
			<div class="infos flexrow" style="flex: 0 0 auto;display: flex;">
				<div class="flexrow flex1">
					<label>{{localize 'CoC7.Name'}}</label>
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CoC7.Name'}}"/>
				</div>
				<div class="flexrow flex1">
					<label>{{localize 'CoC7.Type'}}</label>
					<input name="data.infos.type" type="text" value="{{data.infos.type}}"/>
				</div>
			</div>

			<div class="characteritics flexrow" style="flex: 0 0 auto;display: flex;">
			{{#each data.characteristics as |characteristic key|}}
				{{#if ../data.flags.locked}}
					{{#if characteristic.display}}
						<div class="flexcol" style=" margin-right: 2px;" data-characteristic="{{key}}">
							<div class="characteristic-label rollable" draggable="true" style="text-align: left;">
								<label>{{localize characteristic.short}}</label>
							</div>
							<div style="text-align:center;border: 1px groove;margin-right: 2px;">
								{{#if characteristic.editable}}
								<input class="characteristic-score" style="text-align: center;" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number">
								{{else}}
								<input class="characteristic-score read-only" style="text-align: center;" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number" {{#if ../data.flags.locked}}readonly{{/if}}>
								{{/if}}
							</div>
						</div>
					{{/if}}
				{{else}}
				<div class="flexcol" style=" margin-right: 2px;" data-characteristic="{{key}}">
					<div class="characteristic-label rollable" draggable="true" style="text-align: left;">
						<label>{{localize characteristic.short}}</label>
					</div>
					{{#if ../displayFormula}}
						<div style="text-align:center;border: 1px groove;margin-right: 2px;">
							<input class="characteristic-formula" style="text-align: center;" type="text" name="data.characteristics.{{key}}.formula" value="{{characteristic.formula}}">
						</div>
					{{else}}
						<div style="text-align:center;border: 1px groove;margin-right: 2px;">
							{{#if characteristic.editable}}
							<input class="characteristic-score" style="text-align: center;" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number">
							{{else}}
							<input class="characteristic-score {{#if ../data.flags.locked}}read-only{{/if}}" style="text-align: center;" type="text" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number" {{#if ../data.flags.locked}}readonly{{/if}}>
							{{/if}}
						</div>
					{{/if}}
				</div>
				{{/if}}
			{{/each}}
			</div>

			<div class="attribute-list flexrow" style="display: flex;">
				<div class="flexrow flex1 attribute" style="display: flex;" data-attrib="hp">
					<label class="attribute-label">{{localize 'CoC7.HP'}} :</label>
					<input class="attribute-value" type="text" name="data.attribs.hp.value" value="{{data.attribs.hp.value}}" data-dtype="Number"/>
					<span style="flex: none;font-size: large;">/</span>
					{{#if data.attribs.hp.auto}}
					<input class="attribute-max" type="text" name="data.attribs.hp.max" value="{{data.attribs.hp.max}}" data-dtype="Number" readonly/>
					<!-- <span class="attribute-max" type="text" style="line-height: 22px;"> {{data.attribs.hp.max}} </span> -->
					{{else}}
					<input class="attribute-max {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.hp.max" value="{{data.attribs.hp.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
					{{/if}}
					
					{{#unless data.flags.locked}}
					<div class="auto-toggle {{#if data.attribs.hp.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
					{{/unless}}
					<div class="flex1"></div>
				</div>
				{{#if data.flags.locked}}
					<div class="flexrow flex1 attribute" data-attrib="mp">
						{{#if hasMp}}
						<label class="attribute-label">{{localize 'CoC7.MP'}} :</label>
						<input class="attribute-value" type="text" name="data.attribs.mp.value" value="{{data.attribs.mp.value}}" data-dtype="Number"/>
						<span style="flex: none;font-size: large;">/</span>
						{{#if data.attribs.mp.auto}}
						<input class="attribute-max" type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" readonly/>
						<!-- <span class="attribute-max" type="text" style="line-height: 22px;"> {{data.attribs.mp.max}} </span> -->
						{{else}}
						<input class="attribute-max {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
						{{/if}}
						<div class="flex1"></div>
						{{/if}}
					</div>

					<div class="flexrow flex1 attribute"  data-attrib="san">
						{{#if hasSan}}
						<label class="attribute-label rollable" draggable="true">{{localize 'CoC7.SAN'}} :</label>
						<input class="attribute-value" type="text" name="data.attribs.san.value" value="{{data.attribs.san.value}}" data-dtype="Number"/>
						<span style="flex: none;font-size: large;">/</span>
						<input class="attribute-max {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
						<div class="flex1"></div>
						{{/if}}
					</div>

					<div class="flexrow flex1 attribute"  data-attrib="lck">
						{{#if hasLuck}}
						<label class="attribute-label rollable" draggable="true">{{localize 'CoC7.Luck'}} :</label>
						<input class="attribute-value read-only" type="text" name="data.attribs.lck.value" value="{{data.attribs.lck.value}}" data-dtype="Number" readonly>
						<div class="flex1"></div>
						{{/if}}
					</div>
				{{else}}
					<div class="flexrow flex1 attribute" data-attrib="mp">
						<label class="attribute-label">{{localize 'CoC7.MP'}} :</label>
						<input class="attribute-value" type="text" name="data.attribs.mp.value" value="{{data.attribs.mp.value}}" data-dtype="Number"/>
						<span style="flex: none;font-size: large;">/</span>
						{{#if data.attribs.mp.auto}}
						<input class="attribute-max" type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" readonly/>
						<!-- <span class="attribute-max" type="text" style="line-height: 22px;"> {{data.attribs.mp.max}} </span> -->
						{{else}}
						<input class="attribute-max {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
						{{/if}}
						<div class="auto-toggle {{#if data.attribs.mp.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
						<div class="flex1"></div>
					</div>

					<div class="flexrow flex1 attribute"  data-attrib="san">
						<label class="attribute-label rollable">{{localize 'CoC7.SAN'}} :</label>
						<input class="attribute-value" type="text" name="data.attribs.san.value" value="{{data.attribs.san.value}}" data-dtype="Number"/>
						<span style="flex: none;font-size: large;">/</span>
						{{#if data.attribs.san.auto}}
						<input class="attribute-max" type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" readonly/>
						{{else}}
						<input class="attribute-max {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
						{{/if}}
						<div class="auto-toggle {{#if data.attribs.san.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
						<div class="flex1"></div>
					</div>

					<div class="flexrow flex1 attribute"  data-attrib="lck">
						<label class="attribute-label rollable">{{localize 'CoC7.Luck'}} :</label>
						<input class="attribute-value read-only" type="text" name="data.attribs.lck.value" value="{{data.attribs.lck.value}}" data-dtype="Number">
						<div class="flex1"></div>
					</div>
				{{/if}}
			</div>

			<div class="attribute-list flexrow" style="flex: none;height: 20px;">
				<div class="flexrow flex1 attribute" data-attrib="mov">
					<label>{{localize 'CoC7.Mov'}} :</label>
					
					{{#if data.attribs.mov.auto}}
						<span class="attribute-value" type="text" style="line-height: 22px;"> {{data.attribs.mov.value}} </span>
					{{else}}
						<input class="attribute-value {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.mov.value" value="{{data.attribs.mov.value}}" {{#if data.flags.locked}}readonly{{/if}}>
					{{/if}}

					{{#unless data.flags.locked}}
					<div class="auto-toggle {{#if data.attribs.mov.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
					{{/unless}}

				</div>
				<div class="flexrow flex1 attribute" data-attrib="db" data-roll-formula="{{data.attribs.db.value}}">
					<label class="attribute-label rollable">{{localize 'CoC7.DB'}} :</label>
					
					{{#if data.attribs.db.auto}}
						<span class="attribute-value" type="text" style="line-height: 22px;"> {{data.attribs.db.value}} </span>
					{{else}}
						<input class="attribute-value {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.db.value" value="{{data.attribs.db.value}}" data-dtype="String" {{#if data.flags.locked}}readonly{{/if}}>
					{{/if}}

					<!-- {{#if hasDBFormula}}
					<a class="inline-roll roll" data-mode="roll" data-formula="{{DB}}"><i class="fas fa-dice-d20"></i> {{DB}}</a>
					{{else}}
					<span style="flex: none">{{DB}}</span>
					{{/if}} -->
					{{#unless data.flags.locked}}
					<div class="auto-toggle {{#if data.attribs.db.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
					{{/unless}}
				</div>
				<div class="flexrow flex1 attribute" data-attrib="build">
					<label>{{localize 'CoC7.Build'}} :</label>
					{{#if data.attribs.build.auto}}
						<span class="attribute-value" type="text" style="line-height: 22px;"> {{data.attribs.build.value}} </span>
					{{else}}
						<input class="attribute-value {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.build.value" value="{{data.attribs.build.value}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
					{{/if}}

					{{#unless data.flags.locked}}
					<div class="auto-toggle {{#if data.attribs.build.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
					{{/unless}}
				</div>
				<div class="flexrow flex1 attribute" data-attrib="armor">
					<label>{{localize 'CoC7.Armor'}} :</label>
					<!-- {{#if data.attribs.armor.auto}}
						<span class="attribute-value" type="text" style="line-height: 22px;"> {{data.attribs.build.value}} </span>
					{{else}} -->
					<input class="attribute-value {{#if data.flags.locked}}read-only{{/if}}" type="text" name="data.attribs.armor.value" value="{{data.attribs.armor.value}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}>
					<!-- {{/if}}

					{{#unless data.flags.locked}}
					<div class="auto-toggle {{#if data.attribs.build.auto}}auto-on{{else}}auto-off{{/if}}"><i class="fas fa-cogs" style="padding-top: 4px;"></i></div>
					{{/unless}} -->
				</div>
			</div>

			<div class="status-monitors flexrow">
				{{#if isDying}}
					<a class='dying-check' style="text-align: center;font-size: 20px;" title="Check if you'll die immediately"><i class="fas fa-dice-d20"></i></a>
				{{else}}
					<a class="status-monitor {{#if data.status.prone.value}}status-on{{/if}}" title="{{localize 'CoC7.Prone'}}" data-status='prone'> <i class="fas fa-angle-double-down"></i></a>
					<a class="status-monitor {{#if data.status.unconscious.value}}status-on{{/if}}" title="{{localize 'CoC7.Unconsious'}}" data-status="unconscious"> <i class="fas fa-dizzy"></i></a>
					<a class="status-monitor {{#if data.status.criticalWounds.value}}status-on{{/if}}" title="{{localize 'CoC7.CriticalWounds'}}" data-status="criticalWounds"> <i class="fas fa-user-injured"></i></a>
					<a class="status-monitor {{#if data.status.dying.value}}status-on{{/if}}" title="{{localize 'CoC7.Dying'}}" data-status="dying"> <i class="fas fa-heartbeat"></i></a>

					<a class="status-monitor {{#if data.status.tempoInsane.value}}status-on{{/if}}" title="{{localize 'CoC7.TemporaryInsanity'}}" data-status="tempoInsane"> <i class="fas fa-filter"></i></a>
					<a class="status-monitor {{#if data.status.indefInsane.value}}status-on{{/if}}" title="{{localize 'CoC7.IndefiniteInsanity'}}" data-status="indefInsane"> <i class="far fa-hospital"></i></a>
					<div class="flex1"></div>
					<div class="san-check flexrow flex3" draggable="true">
						<!-- <a class='roll-san flex2' title='Roll san check for targets'><i class="fas fa-dice"></i></a> -->
						<label class="roll-san rollable" style="text-align: right;" title="{{ localize 'CoC7.SanRollHint'}}">{{ localize "CoC7.SANLoss" }} :</label>
						{{#if data.flags.locked}}
						<span class="san-value pass flex1" style="line-height: 22px;padding-left: 2px;" placeholder="pass">{{data.special.sanLoss.checkPassed}}</span>
						<span class="flex0" style="line-height: 22px;">/</span>
						<span class="san-value failed flex1" style="line-height: 22px;padding-left: 2px;" placeholder="fail">{{data.special.sanLoss.checkFailled}}</span>
						{{else}}
						<input class="san-value flex1" type="text" name="data.special.sanLoss.checkPassed" value="{{data.special.sanLoss.checkPassed}}" data-dtype="String" placeholder="pass">
						<span class="flex0" style="line-height: 22px;">/</span>
						<input class="san-value flex1" type="text" name="data.special.sanLoss.checkFailled" value="{{data.special.sanLoss.checkFailled}}" data-dtype="String" placeholder="fail">
						{{/if}}
					</div>
					<div class="flex1"></div>
					<div class="flexrow sheet-controls" style="flex: 0 0 70px;align-content: flex-start;">
						{{#if allowFormula}}
							{{#if data.flags.locked}}
								<div style="flex: 0 0 32px;"></div>
							{{else}}
								{{#if displayFormula}}
									<div style="flex: 0 0 32px;"></div>
								{{else}}
									<a class="roll-characteritics" style="flex: 0 0 16px;color: darkred;" data-html="true" title="{{localize 'CoC7.NpcRollCharacteristics'}}"> <i class="fas fa-dice"></i></a>
									<a class="average-characteritics" style="flex: 0 0 16px;color: darkred;" title="{{localize 'CoC7.NpcAvarageCharacteristics'}}"> <i class="fas fa-balance-scale"></i></a>
								{{/if}}
							{{/if}}
						{{else}}
							<div style="flex: 0 0 16px;"></div>
						{{/if}}
						{{#if data.flags.locked}}
							<a class="lock"  style="flex: 0 0 32px;align-content: flex-start;"  title="{{localize 'CoC7.UnlockActor'}}" data-locked="true"> <i class="fas fa-lock"></i></a>
						{{else}}
							<a class="lock"  style="flex: 0 0 16px;" title="{{localize 'CoC7.LockActor'}}" data-locked="false"> <i class="fas fa-lock-open"></i></a>
							{{#if allowFormula}}
								{{#if displayFormula}}
									<a class="formula"  style="flex: 0 0 16px;" title="{{localize 'CoC7.NpcCharacteristicsFormula'}}" data-locked="true"> <i class="fas fa-square-root-alt"></i></a>
								{{else}}
									<a class="formula"  style="flex: 0 0 16px;" title="{{localize 'CoC7.NpcCharacteristicsValues'}}" data-locked="false"> <i class="fas fa-user-edit"></i></a>
								{{/if}}
							{{/if}}
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>
		{{#if isDead}}
		<div class='is-dead' style="flex: 0 0 100px;margin: 6px;">
			<i style="font-size: 100px;color: darkred;line-height: 100px;" class="fas fa-skull-crossbones"></i>
		</div>
		{{else}}
			{{#if isDying}}
				<div class='is-dying' style="flex: 0 0 100px;margin: 6px;">
					<i style="font-size: 100px;color: darkred;line-height: 100px;" class="fas fa-heartbeat"></i>
				</div>
			{{else}}
				<img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="100" width="100"/>
			{{/if}}
		{{/if}}
	</header>


	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab">
		
		<section class="sheet-section">
			<div class="section-header flexrow"   data-pannel="skills"> 
				<h3 class="flex1" >{{localize 'CoC7.Skills'}}</h3>
				{{#unless data.flags.locked}}
					<div style="flex: 0 0 14px;">
						<a class="add-item" title="{{localize 'CoC7.AddSkill'}}" data-type="skill"><i class="fas fa-plus-circle"></i></a>
					</div>
				{{/unless}}
			</div>
			<div class="skills flexrow" style="padding-top: 1px;border-bottom: 2px groove;">
				{{> "systems/CoC7/templates/actors/parts/npc-skills.html"}}
			</div>
		</section>

		<section class="sheet-section">
			<div class="section-header flexrow" data-pannel="combat">
				<h3 class="flex1">{{localize 'CoC7.Combat'}}</h4>
				{{#unless data.flags.locked}}
				<div style="flex: 0 0 14px;">
					<a class="add-item" title="{{localize 'CoC7.AddWeapon'}}" data-type="weapon"><i class="fas fa-plus-circle"></i></a>
				</div>
				{{/unless}}
			</div>
			<div class="combat flexcol"  style="padding-top: 1px;border-bottom: 2px groove;">
				{{> "systems/CoC7/templates/actors/parts/npc-combat.html"}}
			</div>
		</section>
		
		{{#if hasInventory}}
		<section class="sheet-section">
			<div class="section-header flexrow" data-pannel="inventory"> 
				<h3 class="flex1">{{localize 'CoC7.Inventory'}}</h3>
				{{#unless data.flags.locked}}
				<div style="flex: 0 0 14px;">
					<a class="add-item" title="{{localize 'CoC7.AddItem'}}" data-type="item"><i class="fas fa-plus-circle"></i></a>
				</div>
				{{/unless}}
			</div>
			<div class="inventory flexrow">
				<ol class="inventory-list">
					{{#if  itemsByType.item}}
					<div class="inventory-section">
						<li class="flexrow inventory-header">
							<div class="item-name flexrow">
								<h3>{{localize 'CoC7.Items'}}</h3>
							</div>
						</li>
						<ol class="item-list">
						{{#each itemsByType.item as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url({{item.img}})"></div>
								<h4 class="item-name show-detail">{{item.name}}</h4>
								<div class="item-controls">
									<a class="item-control item-edit" title="{{localize 'CoC7.EditItem'}}"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="{{localize 'CoC7.DeleteItem'}}"><i class="fas fa-trash"></i></a>
								</div>
							</li>
						{{/each}}
						</ol>
					</div>
					{{/if}}
					{{#if  itemsByType.book}}
					<div class="inventory-section">
						<li class="flexrow inventory-header">
							<div class="item-name flexrow">
								<h3>{{localize 'CoC7.Books'}}</h3>
							</div>
						</li>
						<ol class="item-list">
						{{#each itemsByType.book as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url({{item.img}})"></div>
								<h4 class="item-name show-detail">{{item.name}}</h4>
								<div class="item-controls">
									<a class="item-control item-edit" title="{{localize 'CoC7.EditItem'}}"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="{{localize 'CoC7.DeleteItem'}}"><i class="fas fa-trash"></i></a>
								</div>
							</li>
						{{/each}}
						</ol>
					</div>
					{{/if}}
					{{#if  itemsByType.spell}}
					<div class="inventory-section">
						<li class="flexrow inventory-header">
							<div class="item-name flexrow">
								<h3>{{localize 'CoC7.Spells'}}</h3>
							</div>
						</li>
						<ol class="item-list">
						{{#each itemsByType.spell as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url({{item.img}})"></div>
								<h4 class="item-name show-detail">{{item.name}}</h4>
								<div class="item-controls">
									<a class="item-control item-edit" title="{{localize 'CoC7.EditItem'}}"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="{{localize 'CoC7.DeleteItem'}}"><i class="fas fa-trash"></i></a>
								</div>
							</li>
						{{/each}}
						</ol>
					</div>
					{{/if}}
				</ol>
			</div>
		</section>
		{{/if}}


		<section class="sheet-section">
			<div class="section-header flexrow" data-pannel="description">
				<h3 class="flex1">{{localize 'CoC7.Notes'}} </h3>
			</div>
			<div class="description" >
				{{editor content=data.biography.personalDescription.value target="data.biography.personalDescription.value" style="height:95%" button=true owner=owner editable=editable}}
			</div>
		</section>
		</div>
	</section>
</form>