.interactive-card {
  span.ic-radio-switch,
  span.ic-switch {
    display: inline-block;
    margin: 2px 2px 0 0;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background: transparent;
    font-style: italic;
    color: grey;
    &:hover {
      background-color: lightgray;
    }
    &.switched-on {
      border: 1px solid red;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 4px red;
      color: black;
      font-style: normal;
    }
  }
  a.ic-radio-switch,
  a.ic-switch {
    display: inline-block;
    flex: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
    font-weight: normal;
    color: grey;
    &:hover {
      background-color: lightgray;
    }
    &.switched-on {
      color: black;
      border: none;
      box-shadow: none;
      font-weight: bold;
    }
  }
  .card-result {
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
    margin-top: 5px;
  }
}
