<form autocomplete="off" onsubmit="event.preventDefault();">
    <h2>{{localize 'CoC7.ActorImporter'}}</h2>
    <p>{{localize 'CoC7.ActorImporterSummary'}}</p>
    <div class="form-group">
        <label for="coc-entity-type">{{localize 'CoC7.SelectActorType'}}:</label>
        <select id="coc-entity-type" name="coc-entity-type">
            <option value="coc-npc">{{localize 'CoC7.NonPlayingCharacter'}}</option>
            <option value="coc-creature">{{localize 'CoC7.Creature'}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="coc-convert-6E">{{localize 'CoC7.ConvertFrom6Edition'}}:</label>
        <select id="coc-convert-6E" name="coc-convert-6E">
            <option value="coc-guess">{{localize 'CoC7.Guess'}}</option>
            <option value="coc-convert">{{localize 'CoC7.Convert'}}</option>
            <option value="coc-no-convert">{{localize 'CoC7.NoConvert'}}</option>
        </select>
    </div>
     <div class="form-group">
        <label for="coc-entity-lang">{{localize 'CoC7.SelectSourceLanguage'}}:</label>
        <select id="coc-entity-lang" name="coc-entity-lang">
            <option value="coc-en">{{localize 'CoC7.English'}}</option>
            <option value="coc-es">{{localize 'CoC7.Spanish'}}</option>
            <option value="coc-fr">{{localize 'CoC7.French'}}</option>
        </select>
    </div>
    <div>{{localize 'CoC7.PasteTheDataBelow'}}</div>
    <div class="form-group">
        <textarea id="coc-pasted-character-data" name="coc-pasted-character-data" rows="30"
            style="min-height:300px"></textarea>
    </div>
</form>