
<form id="bonus-roll-form">
 
    <div class="flexcol">
        <div class="flexrow">
            <label>{{localize 'CoC7.RollDifficulty'}}</label>
            <select name="difficulty">

                <option value="{{difficulty.regular}}" selected>{{localize 'CoC7.RollDifficultyRegular'}}</option>
                <option value="{{difficulty.hard}}">{{localize 'CoC7.RollDifficultyHard'}}</option>
                <option value="{{difficulty.extreme}}">{{localize 'CoC7.RollDifficultyExtreme'}}</option>

            </select>
        </div>

        <div class="flexrow" style="padding: 4px 0;">
            <div style="flex: 1;"><label>{{localize 'CoC7.BonusDice'}}</label></div>
            <div style="flex: 1;display: flex;flex-direction: column;">
                <div class="flexrow">
                    <span style="flex: 1; text-align: left;">-2</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">-1</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">0</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">+1</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: right;">+2</span>
                </div>
                <input type="range" name="bonusDice" min="-2" max="2" value="0" class="slider" id="myslider">
            </div>
        </div>
    </div>    
</form>