
<form id="san-data-form">
    <div class="flexcol dialog-form">
        <div class="flexrow form-group">
            <label>{{localize 'CoC7.MinSanloss'}}</label>
            <input type="text" name="sanMin" />
        </div>

        <div class="flexrow form-group">
            <label>{{localize 'CoC7.MaxSanloss'}}</label>
            <input type="text" name="sanMax" />
        </div>

        <div class="form-group">
          <label>{{ localize 'CoC7.SanityLossTypeReason' }} :</label>
          <input type="text" name="sanReason" value=""/>
        </div>
    </div>
</form>
