<form id="skill-selection-form" class="coc7 skill-selector">
	<div class="flexcol">
		<div class='flexrow header counter'>
			<label>{{ localize 'CoC7.Chosen' }} :</label>
			<span class="count">0</span>
			<span class="sep">/</span>
			<span>{{optionsCount}}</span>
		</div>

		<ol class="item-list">
			{{#each skills as |skill i|}}
			<li class="item flexrow" data-index="{{i}}">
				<div class="item-name flexrow">
					<h4>{{skill.displayName}} ({{skill.data.base}}%)</h4>    
				</div>
				<div class="item-controls">
					<a class="item-control select-skill" title="Select skill"><i class="fas fa-plus"></i></a>
				</div>
			</li>
			{{/each}}
		</ol>

	</div>
</form>