<form class="flexcol">
  <header class="sheet-header flexrow" style="flex: 0 0 64px;padding-bottom: 2px;">
    <div class="header-details flexrow">
      <h1 class="name" style="height: 48px;">
        <input name="name" type="text" value="{{content.name}}" readonly />
      </h1>

      <ul class="summary flexrow">
        <li class="flex2">
          <input type="text" value="{{content.system.specialization}}" readonly />
        </li>
        <li class="flex1">
          <input type="text" value="{{content.system.value}}%" readonly />
        </li>
      </ul>

    </div>
    <img class="profile" src="{{content.img}}" data-edit="img" title="{{content.name}}" height="64" width="64" />

  </header>
  <section class="sheet-body">
    <div class="flexrow" style='height: 100%;'>
      <div class="item-properties">
        <ol class="properties-list">
          {{#each content.skillProperties}}
            <li>{{this}}</li>
          {{/each}}
        </ol>
      </div>

      <div class='item-description'>
        {{{content.system.description.enrichedValue}}}
      </div>
    </div>
  </section>
</form>