<h1 style="flex: 0 0 auto;">{{localize 'CoC7.InvestigatorWizard.Title'}}</h1>
<div class="scrollsection">
  <p>{{localize 'CoC7.InvestigatorWizard.Introduction'}}</p>
  {{#if isKeeper}}
    <p>{{localize 'CoC7.InvestigatorWizard.IntroductionKeeper' era=era}}</p>
  {{/if}}
</div>