<div class="coc7-book-gains flexcol">
  <div class="coc7-book-gains-header">
    <div>{{localize 'CoC7.Skill'}}</div>
    <div>{{localize 'CoC7.Development'}}</div>
  </div>
  {{#each developments as |skill|}}
    <div class="coc7-book-gains-row">
      <div>{{skill.name}}</div>
      <div>{{skill.gain}}</div>
    </div>
  {{/each}}
</div>