<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="container expanded">
        <header class="sheet-header">
            <div class="sheet-portrait">
                <img class="photo" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
                <input class="name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'CoC7.Name' }}"/>
            </div>

            <div class="active-location flexcol flex2">

                {{#if activeLocation}}
                <div class="location-name">
                    <input name="locations.{{activeLocation.uuid}}.name" type="text" value="{{activeLocation.name}}" placeholder="{{ localize 'CoC7.Name' }}"/>
                </div>
                <div class="details flexrow">
                    <div class="barrier-before flexcol flex3">
                        {{#unless activeLocation.first}}
                        <label class="checkbox">
                            <input type="checkbox" name="locations.{{activeLocation.uuid}}.obstacle" {{checked activeLocation.obstacle}}/> {{ localize "CoC7.Obstacle" }}
                        </label>
                        {{/unless}}
                    </div>
                    <div class="active-participant flexcol flex2"></div>
                    <div class="barrier-after flexcol flex3">
                        {{#unless activeLocation.last}}
                        <label class="checkbox">
                            <input type="checkbox" name="locations.{{nextLocation.uuid}}.obstacle" {{checked nextLocation.obstacle}}/> {{ localize "CoC7.Obstacle" }}
                        </label>
                        {{/unless}}
                    </div>
                </div>
                {{/if}}
            </div>

        </header>

        <nav class="sheet-nav tabs" data-group="primary">
			<a data-tab="setup"><div class="tab-name" ><span>{{localize 'CoC7.Setup'}}</span></div></a>
			<a data-tab="participants"><div class="tab-name" ><span>{{localize 'CoC7.Participans'}}</span></div></a>
			<a data-tab="cut2chase"><div class="tab-name" ><span>{{localize 'CoC7.Cut2Chase'}}</span></div></a>
        </nav>

        <section class="sheet-body">
            <div class="tab setup" data-group="primary" data-tab="setup">
                {{#if locations}}

                <div class="track">
                    {{#each locations as |location i|}}
                        <div class="location" data-uuid="{{location.uuid}}">
                            <div class="flexrow">
                                {{#unless location.first}}
                                    {{#if location.obstacle}}
                                    <div class="flexrow obstalce">
                                        <div class="warning"><i class="game-icon game-icon-barrier"></i></div>
                                    </div>
                                    {{/if}}
                                {{/unless}}


                                
                                <div class="flexrow name">
                                    {{#if location.first}}
                                    <div class="spacer"></div>
                                    {{else}}
                                    <div class="line"></div>
                                    {{/if}}

                                    <div class="name-container {{location.cssClasses}}">{{location.name}}</div>


                                    {{#if location.last}}
                                    <div class="spacer"></div>
                                    {{else}}
                                    <div class="line"></div>
                                    {{/if}}
                                </div>


                            </div>
                        </div>
                    {{/each}}
                </div>
                {{else}}
                <div class="init">
                    <div class="form-group">
                        <label>{{localize 'CoC7.Locations'}}</label>
                        <input type="text" name="data.locations.total" value="{{data.locations.total}}" data-dtype="Number"/>
                        <div class="button" data-action="init">{{localize 'CoC7.Initialize'}}</div>
                    </div>
                </div>
                {{/if}}
                <!-- <div class="circles" style="white-space: nowrap;align-items:stretch;height: 100px;overflow-x: scroll; overflow-y: hidden;background-attachment: local;background-image: linear-gradient(to right, #6fa26f , #ece857);">
                    {{#each locations as |location i|}}

                     <div data-num="{{i}}" style="display: inline-block;width: 200px;height: 100%;">
                    </div>
                    {{/each}}

                </div> -->

                <div class="row">
                    <label class="checkbox">
                        <input type="checkbox" name="data.includeEscaped" {{checked data.includeEscaped}}/> {{ localize "CoC7.IncludeEscapees" }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.includeLatecomers" {{checked data.includeLatecomers}}/> {{ localize "CoC7.IncludeLatecomers" }}
                    </label>
                    {{#if locations}}
                    <div class="button" data-action="reset">{{localize 'CoC7.Reset'}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="tab participants" data-group="primary" data-tab="participants">
                <div class="participants-list">
                    {{#each participants as |p i|}}
                    <div class="participant {{p.cssClass}}" data-index={{i}} data-uuid={{p.uuid}}>
                        <div class="p-side {{#if p.isChaser}}chaser{{else}}prey{{/if}}">
                            {{#if p.isChaser}}
                                <a><i class="game-icon game-icon-moon-claws"></i></a>
                            {{else}}
                                <a><i class="fas fa-running"></i></a>
                            {{/if}}
                        </div>
                        <div class="p-icon{{#if p.isActor}} open-actor{{/if}}" data-actor-key="{{p.key}}">
                            <a><img src="{{p.icon}}" title="{{p.name}}"/></a>
                        </div>
                        <div class="p-expand"></div>
                        <div class="p-name">
                            {{#if p.isActor}}
                                {{p.name}}
                            {{else}}
                                <input type='text' name="data.participants.{{p.uuid}}.name" placeholder="Name" value="{{p.name}}"/>
                            {{/if}}
                        </div>
                        <div class="p-init">
                            <input class='right-aligned' type='text' name="data.participants.{{p.uuid}}.dex" placeholder="DEX" value="{{p.dex}}"/>
                        </div>
                        <div class="p-movement">
                            <input class='right-aligned' type='text' name="data.participants.{{p.uuid}}.mov" placeholder="MOV" value="{{p.mov}}"/>
                        </div>
                        <div class="p-speed-check">
                            <datalist id="check-options-name-p{{p.uuid}}">
                                {{#each p.speedCheck.options as |o|}}
                                    <option>{{o}}</option>
                                {{/each}}
                            </datalist>
                            <input type='text' name="data.participants.{{p.uuid}}.speed-check.name" placeholder="check name" value="{{p.speedCheck.name}}" list='check-options-name-p{{p.uuid}}' data-override='true'/>
                        </div>
                        <div class="p-score">
                            {{#if p.speedCheck.refSet}}
                                <span>{{p.speedCheck.score}}</span>
                            {{else}}
                                <input class='right-aligned' type='text' name="data.participants.{{p.uuid}}.speedCheck.score" placeholder="%" value="{{p.speedCheck.score}}" />
                            {{/if}}
                        </div>
                        <div class="p-roll {{p.speedCheck.cssClasses}}">
                            {{#if p.speedCheck.rolled}}
                                {{{p.speedCheck.inlineRoll}}}
                            {{else}}
                                <a class="roll-participant"><i class="game-icon game-icon-d10"></i></a>
                            {{/if}}
                        </div>
                        <div class="p-adjust {{p.speedCheck.modifierCss}}">
                            {{#if p.speedCheck.rolled}}
                                {{#if p.speedCheck.hasModifier}}
                                    <i class="game-icon game-icon-upgrade"></i>
                                {{else}}
                                    <i class="fas fa-equals"></i>
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="p-modified-mov {{p.speedCheck.modifierCss}} {{p.speedCheck.cssClasses}}">
                            {{p.adjustedMov}}
                        </div>
                        <div class="p-control">
                            {{#if p.speedCheck.rolled}}
                                <a class="reset-roll"><i class="fas fa-undo"></i></a>
                            {{else}}
                                <a class="delete-participant"><i class="fas fa-times"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#if p.hasDriver}}
                        <div class="driver" data-index={{i}} data-uuid="{{p.uuid}}">
                            <div class="d-spacer"><i class="fas fa-level-up-alt fa-rotate-90"></i></div>
                            <div class="d-icon open-actor" data-actor-key="{{p.driver.actorKey}}">
                                <a><img src="{{p.driver.img}}" title="{{p.driver.name}}"/></a>
                            </div>
                            <div class="d-name">{{p.driver.name}}</div>
                            <div class="d-control">
                                <a class="delete-driver"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="new-participant">
                    <div class="add-sign">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="tab cut2chase" data-group="primary" data-tab="cut2chase">
                <div>Preys Min : {{preysMinMov}}</div>
                <div>Preys Max : {{preysMaxMov}}</div>
                <div>Chasers Min : {{chasersMinMov}}</div>
                <div>Chasers Max : {{chasersMaxMov}}</div>
            </div>
        </section>
    </div>
</form>