<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="container expanded">
    <header class="sheet-header">
      <div class="sheet-portrait">
        <img class="photo" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
      </div>
      <div class="infos">
        <div class="row flexrow">
          <input class="name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'CoC7.Name' }}" />
        </div>
        <div class="row flexrow">
          <label>{{localize 'CoC7.ItemQuantity'}}</label>
          <input type="text" name="system.quantity" value="{{data.system.quantity}}" data-dtype="Number" />
        </div>
        <div class="row flexrow">
          <label>{{localize 'CoC7.ItemWeight'}}</label>
          <input type="text" name="system.weight" value="{{data.system.weight}}" data-dtype="Number" />
        </div>
      </div>
      <div class="flex1"></div>
    </header>

    <nav style="flex: 0 0 24px;margin-bottom: 4px;font-family: 'Modesto Condensed', 'Palatino Linotype', serif;font-size: 16px;font-weight: 700;" class="sheet-navigation tabs" data-group="primary">
      <a style="line-height: 24px;" class="item active" data-tab="description">{{ localize "CoC7.Description" }}</a>
      <a style="line-height: 24px;" class="keeper-only-tab item" data-tab="effects" title="{{localize 'CoC7.Effects'}}"><i class="game-icon game-icon-aura"></i></a>
      {{#if isKeeper}}
        <a style="line-height: 24px;" class="item keeper-only-tab" data-tab="keeper" title="{{localize 'CoC7.GmNotes'}}"><i class="game-icon game-icon-tentacles-skull"></i></a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      <div class="tab description flexrow active" style="border-top: 2px groove #eeede0;padding: 0 0 0 5px;overflow: auto;" data-group="primary" data-tab="description">
        {{editor enrichedDescriptionValue target="system.description.value" engine="prosemirror" button=true owner=owner editable=editable}}
      </div>
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/CoC7/templates/common/active-effects.hbs"}}
      </div>
      {{#if isKeeper}}
        <div class="tab keeper flexcol" style="border-top: 2px groove #eeede0;padding: 0 5px;" data-group="primary" data-tab="keeper">
          {{editor enrichedDescriptionKeeper target="system.description.keeper" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      {{/if}}
    </section>
  </div>
</form>