<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow" style="flex: 0 0 64px;padding-bottom: 2px;">
        <div class="header-details flexrow">
            <h1 class="name" style="height: 48px;">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'CoC7.Name' }}"/>
            </h1>

            <ul class="summary flexrow">
                <li class="flex1">
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'CoC7.Source' }}"/>
                </li class="flex1">
                <li>
                    <input type="text" name="data.castingTime" value="{{data.castingTime}}" placeholder="{{ localize 'CoC7.SpellCastingTime' }}"/>
                </li>
                <li class="flex2">
                    {{ castingCost }}
                </li>
            </ul>

        </div>
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>

    </header>
    {{!-- Item Sheet Navigation --}}
    <nav style="flex: 0 0 24px;margin-bottom: 4px;font-family: 'Modesto Condensed', 'Palatino Linotype', serif;font-size: 16px;font-weight: 700;"
      class="sheet-navigation tabs" data-group="primary">
        <a style="line-height: 24px;" class="item active" data-tab="description">{{ localize "CoC7.ItemDescription" }}</a>
        <a style="line-height: 24px;" class="item" data-tab="details">{{ localize "CoC7.Details" }}</a>
    </nav>

    
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            <div class="item-properties">
                <ol class="properties-list">
                    {{#each itemProperties}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h3 class="form-header">{{ localize "CoC7.Details" }}</h3>
            {{!-- Spell Type --}}
            <div class="spell-type form-group stacked">
                <label>{{ localize "CoC7.SpellType" }}</label>
                <div class="flexrow">
                <label class="checkbox">
                    <input type="checkbox" name="data.type.call" {{checked data.type.call}}/> {{ localize "CoC7.CallSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.dismiss" {{checked data.type.dismiss}}/> {{ localize "CoC7.DismissSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.contact" {{checked data.type.contact}}/> {{ localize "CoC7.ContactSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.summon" {{checked data.type.summon}}/> {{ localize "CoC7.SummonSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.bind" {{checked data.type.bind}}/> {{ localize "CoC7.BindSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.enchantment" {{checked data.type.enchantment}}/> {{ localize "CoC7.EnchantmentSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.gate" {{checked data.type.gate}}/> {{ localize "CoC7.GateSpell" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.type.combat" {{checked data.type.combat}}/> {{ localize "CoC7.CombatSpell" }}
                </label>
                </div>
            </div>

            <h3 class="form-header">{{ localize "CoC7.SpellCastingCost" }}</h3>
    
            <div class="form-group">
                <label>{{ localize "CoC7.MagicPoints" }}</label>
                <input type="text" name="data.cost.mp" value="{{data.cost.mp}}"/>
            </div>

            <div class="form-group">
                <label>{{ localize "CoC7.SanityPoints" }}</label>
                <input type="text" name="data.cost.san" value="{{data.cost.san}}"/>
            </div>
    
            <div class="form-group">
                <label>{{ localize "CHARAC.Power" }}</label>
                <input type="text" name="data.cost.pow" value="{{data.cost.pow}}"/>
            </div>

            <div class="form-group">
                <label>{{ localize "CoC7.Other" }}</label>
                <input type="text" name="data.cost.other" value="{{data.cost.other}}" data-dtype="String"/>
            </div>

            <h3 class="form-header">{{ localize "CoC7.Notes"}}</h3>
            {{editor content=data.description.notes target="data.description.notes" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>