<form class="{{cssClass}} weapon flexcol" style="border: groove 2px;" autocomplete="off"
  data-item-id="{{item._id}}"
  data-has-owner="{{hasOwner}}"
  data-actor-key="{{actorKey}}">
	<div class="item-header flexrow" style="flex: 0 0 110px;">
		<div class="item-property" style="display: flex; flex-direction: column; flex: 1;">
			<div class="item-name" style="display: flex; flex-direction: row; height: 24px;">
				<input class="item-class" style="flex: 1;" type="text" name="name" value="{{item.name}}" placeholder="name"/>

				<div class="flexrow" style="flex: 2;flex-wrap: nowrap;">
				{{#if hasOwner}}
					<select class="attribute-dtype" name="data.skill.main.id">
						{{#select data.skill.main.id}}
							{{#if data.properties.rngd}}
								{{#each firearmSkills as |cbs|}}
									<option value="{{cbs.id}}">{{cbs.data.name}}</option>
								{{/each}}
							{{else}}
								{{#each fightingSkills as |cbs|}}
									<option value="{{cbs.id}}">{{cbs.data.name}}</option>
								{{/each}}
							{{/if}}
                        {{/select}}
					</select>

					{{#if usesAlternateSkill}}
						<select class="attribute-dtype" name="data.skill.alternativ.id">
							{{#select data.skill.alternativ.id}}
								{{#if data.properties.rngd}}
									{{#each firearmSkills as |cbs|}}
										<option value="{{cbs.id}}">{{cbs.data.name}}</option>
									{{/each}}
								{{else}}
									{{#each fightingSkills as |cbs|}}
										<option value="{{cbs.id}}">{{cbs.data.name}}</option>
									{{/each}}
								{{/if}}
							{{/select}}
						</select>
					{{/if}}
				{{else}}
					<input class="item-skill" style="flex: 1;overflow: hidden;" type="text" name="data.skill.main.name" value="{{data.skill.main.name}}" placeholder="Main skill"/>
					{{#if usesAlternateSkill}}
					<input class="item-skill" style="flex: 1;overflow: hidden;" type="text" name="data.skill.alternativ.name" value="{{data.skill.alternativ.name}}" placeholder="Alt. skill"/>
					{{/if}}
				{{/if}}
				</div>

			</div>

			<div style="display: flex; flex-direction: row; height: 24px;">
				{{#if data.properties.rngd}}
					<div style="display: flex; flex: 0 0 50%;">
						<label>{{localize 'CoC7.WeaponRange'}} (yd) :</label>
						<input class="item-skill" style="flex: 1;" type="text" name="data.range.normal.value" value="{{data.range.normal.value}}" placeholder="Base"/>
						{{#if data.properties.shotgun}}
							<input class="item-skill" style="flex: 1;" type="text" name="data.range.long.value" value="{{data.range.long.value}}" placeholder="Long"/>
							<input class="item-skill" style="flex: 1;" type="text" name="data.range.extreme.value" value="{{data.range.extreme.value}}" placeholder="Xtrm"/>
						{{/if}}
					</div>
					<div style="display: flex; flex: 0 0 50%;">
						<label>{{localize 'CoC7.WeaponDamage'}} :</label>
						<input class="item-skill" style="flex: 1;" type="text" name="data.range.normal.damage" value="{{data.range.normal.damage}}" placeholder="0"/>
						{{#if data.properties.shotgun}}
							<input class="item-skill" style="flex: 1;" type="text" name="data.range.long.damage" value="{{data.range.long.damage}}" placeholder="0"/>
							<input class="item-skill" style="flex: 1;" type="text" name="data.range.extreme.damage" value="{{data.range.extreme.damage}}" placeholder="0"/>
						{{/if}}
					</div>
				{{else}}
					<span style="flex: 0 0 50%; height: 22px; padding: 2px 3px;">{{localize 'CoC7.WeaponTouch'}}</span>
					<label>{{localize 'CoC7.WeaponDamage'}} :</label>
					<input class="item-skill" style="flex: 1;" type="text" name="data.range.normal.damage" value="{{data.range.normal.damage}}" placeholder="0"/>
				{{/if}}
			</div>

			<div class="skill-attributes" style="display: block;" data-set="properties">
				{{#each _properties as |property key|}}
					<span class="weapon-property {{#if property.isEnabled}}switched-on{{/if}}" data-property="{{property.id}}">{{localize property.name}}</span>
				{{/each}}
			</div>
		</div>

		<img class="profile-img" style="flex: 0 0 100px;" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
	</div>
	
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="details">{{localize 'CoC7.ItemDetails'}}</a>
		<a class="item" data-tab="description">{{localize 'CoC7.ItemDescription'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab skills flexcol active" data-group="primary" data-tab="details">
			<label>Availability :</label>
			<div class="skill-attributes" style="flex: 0 0 25px;" data-set="eras">
				{{#each _eras as |era key|}}
					<span class="toggle-switch {{#if era.isEnabled}} switched-on {{/if}}" data-property="{{era.id}}">{{localize era.name}}</span>
					<div style="display: none;">
						<input id="eras-{{era.id}}" type="checkbox" name="data.eras.{{era.id}}" {{checked era.isEnabled}}/>
					</div>
				{{/each}}
			</div>

			<div class="flexrow" style="flex: 0 0 auto;">
				<div class="flexrow" style="flex: 0 0 32%">
					<label>{{localize 'CoC7.WeaponMalfunction'}} :</label>
					<input class="weapon-detail" style="flex: 0 0 40px;" type="text" name="data.malfunction" value="{{data.malfunction}}" placeholder="-"/>
				</div>
				<div class="flexrow" title="{{localize 'CoC7.WeaponUsesPerRoundHint'}}" style="flex: 0 0 32%">
					<label>{{localize 'CoC7.WeaponUsesPerRound'}} :</label>
					<input class="weapon-detail" style="flex: 0 0 40px;" type="text" name="data.usesPerRound.normal" value="{{data.usesPerRound.normal}}" placeholder="-"/>
				</div>
				<div class="flexrow" style="flex: 0 0 32%">
					<label>{{localize 'CoC7.WeaponMax'}} :</label>
					<input class="weapon-detail" style="flex: 0 0 40px;" type="text" name="data.usesPerRound.max" value="{{data.usesPerRound.max}}" placeholder="-"/>
				</div>
				<div class="flexrow" style="flex: 0 0 32%">
					<label>{{localize 'CoC7.WeaponBulletsInMag'}} :</label>
					<input class="weapon-detail" style="flex: 0 0 40px;" type="text" name="data.bullets" value="{{data.bullets}}" placeholder="-"/>
				</div>
				{{#if data.properties.brst}}
				<div class="flexrow" title="{{localize 'CoC7.BurstSizeHint'}}" style="flex: 0 0 32%">
					<label>{{localize 'CoC7.BurstSize'}} :</label>
					<input class="weapon-detail" style="flex: 0 0 40px;" type="text" name="data.usesPerRound.burst" value="{{data.usesPerRound.burst}}" placeholder="-"/>
				</div>
				{{/if}}
				{{#if data.properties.blst}}
				<div style="display: flex; flex: 0 0 32%;">
					<label>{{localize 'CoC7.Weapon.BlastRadius'}} :</label>
					<input class="weapon-detail" style="flex: 1;" type="text" name="data.blastRadius" value="{{data.blastRadius}}" placeholder="-"/>
				</div>
				{{/if}}
			</div>
			
			<label>{{localize 'CoC7.ItemPrice'}} :</label>
			<div class="flexrow" style="flex: none">
				{{#each _eras as |era key|}}
					{{#if era.isEnabled}}
					<div style="display: flex; flex: 0 0 32%;">
						<span class="item-era-price flex1" style="line-height: 20px;">{{localize era.name}} :</span><input class="item-price" style="flex: 0 0 40px;" type="text" name="data.price.{{era.id}}" value="{{era.price}}" placeholder="0"/>
					</div>
					{{/if}}
				{{/each}}
			</div>

			{{#if data.properties.spcl}}
			<label>{{localize 'CoC7.WeaponSpecial'}} :</label>
				<div class="special" style="display: flex;border: 2px groove #eeede0;padding: 0 5px;">
					{{editor content=data.description.special target="data.description.special" button=true owner=owner editable=editable}}
				</div>
			{{/if}}

		</div>

		<div class="tab description flexcol" style="display: flex;border: 2px groove #eeede0;padding: 0 5px;" data-group="primary" data-tab="description">
			{{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>