<div class="details">
  <div class="traits">
    <div class="type">
      <label>{{localize "CoC7.BookType"}}</label>
      <div class="flexrow">
        <input id="mythos" type="checkbox" name="system.type.mythos" {{checked data.system.type.mythos}} />
        <label class="option" for="system.type.mythos">{{localize "CoC7.Mythos"}}</label>

        <input id="occult" type="checkbox" name="system.type.occult" {{checked data.system.type.occult}} />
        <label class="option" for="system.type.occult">{{localize "CoC7.Occult"}}</label>

        <input id="other" type="checkbox" name="system.type.other" {{checked data.system.type.other}} />
        <label class="option" for="system.type.other">{{localize "CoC7.Other"}}</label>
      </div>
    </div>
    <div class="flexrow">
      <label>{{localize "CoC7.DifficultyLevel"}}:</label>
      <select name="system.difficultyLevel">
        {{#select data.system.difficultyLevel}}
          <option value="regular">{{localize "CoC7.RollDifficultyRegular"}}</option>
          <option value="hard">{{localize "CoC7.RollDifficultyHard"}}</option>
          <option value="extreme">{{localize "CoC7.RollDifficultyExtreme"}}</option>
          <option value="critical">{{localize "CoC7.RollDifficultyCritical"}}</option>
          <option value="unreadable">{{localize "CoC7.Unreadable"}}</option>
        {{/select}}
      </select>
    </div>
    {{#if data.system.type.mythos}}
      <div class="flexrow">
        <label>{{localize "CoC7.StudyTime"}}:</label>
        <input type="number" name="system.study.necessary" value="{{data.system.study.necessary}}" />
        <select name="system.study.units">
          {{#select data.system.study.units}}
            <option value="CoC7.months">{{localize "CoC7.months"}}</option>
            <option value="CoC7.weeks">{{localize "CoC7.weeks"}}</option>
            <option value="CoC7.days">{{localize "CoC7.days"}}</option>
            <option value="CoC7.hours">{{localize "CoC7.hours"}}</option>
          {{/select}}
        </select>
      </div>
    {{/if}}
    {{#if (or data.system.type.mythos data.system.type.occult)}}
      <div class="flexrow">
        <label>{{localize "CoC7.SANLoss"}}:</label>
        <input type="text" name="system.sanityLoss" value="{{data.system.sanityLoss}}" />
      </div>
    {{/if}}
  </div>
  <div class="gains">
    <label>{{localize "CoC7.Gains"}}</label>
    <br>
    {{#if data.system.type.mythos}}
      <div class="flexrow">
        <label>{{localize "CoC7.CthulhuMythosInitial"}}:</label>
        <input type="number" name="system.gains.cthulhuMythos.initial" value="{{data.system.gains.cthulhuMythos.initial}}" />
      </div>
      <div class="flexrow">
        <label>{{localize "CoC7.CthulhuMythosFinal"}}:</label>
        <input type="number" name="system.gains.cthulhuMythos.final" value="{{data.system.gains.cthulhuMythos.final}}" />
      </div>
      <div class="flexrow">
        <label>{{localize "CoC7.MythosRating"}}:</label>
        <input type="number" name="system.mythosRating" value="{{data.system.mythosRating}}" />
      </div>
    {{/if}}
    {{#if data.system.type.occult}}
      <div class="flexrow">
        <label>{{localize "CoC7.Occult"}}:</label>
        <input type="number" name="system.gains.occult" value="{{data.system.gains.occult}}" />
      </div>
    {{/if}}
  </div>
  <div class="other">
    {{#if data.system.type.other}}
      <div class="flexrow">
        <table>
          <tr>
            <th><label>{{localize "CoC7.Skill"}}</label></th>
            <th><label>{{localize "CoC7.Gains"}}</label></th>
            <th><i class="fas fa-plus add-other-gains"></i></th>
          </tr>
          {{#each data.system.gains.others as |skill key|}}
            <tr data-index="{{@index}}">
              <td><input class="change-other-gains" type="text" value="{{skill.name}}"></td>
              <td>
                <select class="change-other-gains">
                  {{#select skill.value}}
                    <option value="development">{{localize "CoC7.Development"}}</option>
                    <option value="1d6">+1D6</option>
                    <option value="1d10">+1D10</option>
                  {{/select}}
                </select>
              </td>
              <td><i class="fas fa-trash remove-other-gains"></i></td>
            </tr>
          {{/each}}
        </table>
      </div>
    {{/if}}
  </div>
</div>
