html {
  font-size: 16px;
}

.token-extras {
  // width: 2rem;
  // height: 2rem;
  top: 2rem;
  right: 0.5rem;
  position: absolute;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

// .token-drag-handle{
//   width: 2rem;
//   height: 2rem;
//   position: absolute;
//   top: 2rem;
//   right: 0.5rem;
//   // background: #444;
//   // padding: 2px;
//   // border: 1px solid var(--color-border-dark-1);
//   // border-radius: 4px 0 0 0;
//   font-size: 2rem;
//   line-height: 2rem;
// }

.coc7 {
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .tabs>* {
    flex: 1;
  }

  .tabs>.flex0 {
    display: block;
    flex: 0;
  }

  .tabs>.flex1 {
    flex: 1;
  }

  .tabs>.flex2 {
    flex: 2;
  }

  .tabs>.flex3 {
    flex: 3;
  }

  .tabs .item {
    text-align: center;
  }

  .tabs .item.active {
    text-shadow: 0 0 10px red;
  }

  .tab[data-tab] {
    display: none;
  }

  .tab[data-tab].active {
    display: block;
  }

  .tab[data-tab].active.flexrow,
  .tab[data-tab].active.flexcol {
    display: flex;
  }

  a.keeper-only-tab {
    flex: 0 0 30px;
    color: @colorGreen;
  }

  h3.keeper-only-tab i {
    color: @colorGreen;
  }

  .permission-limited img {
    height: auto !important;
    width: 580px !important;
    max-width: none !important;
    margin: 0 !important;
    flex: none !important;
  }
}

.sheetV2 {
  background-image: var(--other-sheet-bg) repeat;

  .no-skill-set,
  .error {
    background-color: red;
    border-radius: 0.25rem;
  }

  .coc7.sheet.actor.temp-retro-compat {
    // background-image: url('./assets/background.webp');
    overflow: auto;

    .bio-section {
      padding: 0 2px;

      .bio-section-title {
        height: fit-content;
        margin: 0;
        border: 0;
        font-family: customSheetFont, "Palatino Linotype", serif;
        font-size: 0.75rem;
        font-weight: bolder;
      }

      .bio-section-value {
        height: max-content;
        resize: none;
        font-family: customSheetFont, 'Palatino Linotype', serif;
        font-size: 0.75rem;
      }

      div.bio-section-type,
      div.item-controls {
        padding: 2px 0;
      }

      div.bio-section-value {
        padding: 5px;
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid var(--color-border-dark);
        border-radius: 3px;
        color: #000;

        div.bio-section-values {
          flex: 0 0 40px;
          text-align: center;

          input {
            width: 28px;
          }
        }
      }
    }
  }

  .defaultFont();

  &.app {
    background: var(--main-sheet-back-color);
  }

  .window-header {
    background: var(--main-sheet-front-color);
    margin: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
  }

  .window-content {
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 0;
    color: var(--main-sheet-front-color);
    font-size: 0.8rem;

    .rollable:hover {
      color: #000;
      text-shadow: 0 0 10px var(--main-sheet-interactive-color);
      cursor: pointer;
    }

    span {
      color: #000;
      height: 1.375rem;
      line-height: 1.375rem;
      padding: 1px 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      display: block;
    }

    p {
      white-space: normal;

      span {
        display: inline;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        max-width: none;
        white-space: normal;
      }
    }

    label {
      height: 1.375rem;
      line-height: 1.375rem;
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      font-weight: bold;
      width: auto;
    }

    .tag {
      display: inline;
      height: auto;
      line-height: unset;
      vertical-align: middle;
      text-align: center;
      padding: 0 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.6rem;
      border: 1px solid #999;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
    }

    input[type='text'] {
      flex: 1;
      height: 1.375rem;
      border: 0;
      margin: 0;
      width: 100%;
      border-radius: 0.25rem;
      background: transparent;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover,
      &:focus {
        box-shadow: 0 0 0.5rem var(--main-sheet-interactive-color);
        background: @greyBackground;
      }
    }
  }
}
// .coc7.actor {
//   .skill-name.rollable,
//   .characteristic-label,
//   .attribute-label.rollable,
//   .auto-toggle,
//   .item-control.development-flag {
//     cursor: help;
//   }
// }
.actor-picker {
  ol.directory-list {
    border: 1px solid var(--color-border-dark-3);

    li.directory-item.document.actor {
      border-top: none;
      padding: 0.2rem;
      display: flex;
      cursor: pointer;

      &:last-child {
        border-top: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.16);
      }

      &.picked {
        background: rgba(0, 0, 0, 0.1);
        font-weight: bold;
        box-shadow: 0 0 6px inset var(--color-shadow-highlight);
      }
    }
  }

  .dialog-buttons {
    flex-grow: initial;
    margin-top: 1rem;
  }
}
