.coc7.actor.character.summarized {
  .window-content {
    background: var(--other-sheet-bg);
    background-repeat: repeat;
  }
  form {
    background: var(--other-sheet-bg);
    background-repeat: repeat;
  }
  font-family: customSheetFont, "Palatino Linotype", serif;
  .container {
    display: grid;
    grid-template-columns: 1fr 1.35fr 1fr;
    grid-template-rows: 0.05fr 1fr;
    gap: 1px;
    grid-template-areas:
      "header header header"
      "characteristics skills other";
    .rollable {
      &:hover {
        color: #000;
        text-shadow: 0 0 10px red;
        cursor: pointer;
      }
    }
    .header {
      grid-area: header;
      min-height: 25px;
      label {
        line-height: 1;
      }
      .status-monitor {
        color: darkgrey;
        text-align: center;
      }
      .status-monitor.invert {
        transform: rotateZ(180deg);
      }
      .status-monitor.status-on {
        color: darkred;
      }
      .status {
        color: grey;
        text-align: center;
        a {
          &.inative-status {
            &:hover {
              text-shadow: none !important;
              cursor: default;
            }
          }
        }
      }
      .fas {
        font-size: 12px;
      }
      .control {
        line-height: 0.9;
        max-width: fit-content;
        margin-left: 5px;
      }
      .flexrow {
        margin: 0 10px;
        max-width: fit-content;
      }
      .current-value {
        text-align: right;
        padding-right: 0.25rem;
        max-width: 25px;
        input {
          text-align: center;
        }
      }
      .separator {
        max-width: fit-content;
      }
      .max-value {
        text-align: left;
        padding-left: 0.25rem;
        max-width: fit-content;
        input {
          background-color: rgba(0, 0, 0, 0.1);
          max-width: fit-content;
        }
      }
      span {
        height: 1rem;
        line-height: 1rem;
      }
      input {
        background-color: transparent;
        border: 0;
        height: auto;
        padding: 0;
        font-weight: bold;
        &:read-only {
          border: 0px;
          background-color: transparent;
          box-shadow: none;
          cursor: default;
        }
      }
    }
    .characteristics {
      grid-area: characteristics;
      flex: 1;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      height: 100%;
      .header {
        flex: 1;
      }
      .footer {
        flex: 1;
        display: flex;
        flex-direction: row;
        .attribute {
          flex: 0 0 25%;
          display: grid;
          grid-template-columns: auto 2rem;
          align-items: center;
          justify-content: center;
        }
        .attribute-label {
          min-width: 0;
          h2 {
            border: 0;
            padding: 0;
            margin: 0;
            line-height: 1.375rem;
            font-size: 0.75rem;
            color: var(--main-sheet-front-color);
            font-weight: normal;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .attribute-value {
          text-align: center;
          font-size: 0.75rem;
          color: var(--main-sheet-front-color);
          font-weight: normal;
          input {
            border: 0;
            padding: 0;
            font-size: 0.75rem;
            color: var(--main-sheet-front-color);
            background-color: @greyBackground;
            font-weight: normal;
          }
        }
      }
      .char-boxes {
        flex: 0 0 6rem;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 3.75rem);
        grid-template-rows: repeat(2, 3rem);
      }
      .char-box {
        display: grid;
        grid-template-columns: 1rem 2.75rem;
        grid-template-rows: 1rem 2rem;
        grid-template-areas:
          "rollIcon characName"
          "characScore characScore";
        align-items: baseline;
        .roll-icon {
          color: var(--main-sheet-front-color);
          grid-area: rollIcon;
          line-height: 1.4rem;
        }
        .charac-name {
          color: var(--main-sheet-front-color);
          grid-area: characName;
          line-height: 1.4rem;
        }
        .charac-score {
          grid-area: characScore;
          margin-top: 0.25rem;
          margin-right: 0.5rem;
          border-radius: 0.25rem;
          color: var(--main-sheet-back-color);
          background: @whiteBackground;
          display: grid;
          grid-template-columns: 2.375rem 0.875rem;
          grid-template-rows: 0.875rem 0.875rem;
          grid-template-areas:
            "mainScore halfScore"
            "mainScore fithScore";
          .main-score {
            grid-area: mainScore;
            justify-self: center;
            align-self: center;
          }
          .half-score {
            grid-area: halfScore;
            font-size: 0.6rem;
            justify-self: center;
            align-self: center;
          }
          .fith-score {
            grid-area: fithScore;
            font-size: 0.6rem;
            justify-self: center;
            align-self: center;
          }
          input {
            background: transparent;
            border: 0;
            font-weight: bold;
          }
        }
      }
      input {
        text-align: center;
        color: var(--main-sheet-back-color);
        font-size: 1.3rem;
        &:hover,
        &:focus {
          background: transparent;
        }
        &:read-only {
          border: 1px solid transparent;
          box-shadow: none;
          cursor: default;
        }
      }
    }
    .skills {
      grid-area: skills;
      flex: 1;
      flex-wrap: wrap;
      width: auto;
      flex-direction: column;
      max-height: 125px;
      .item-list {
        margin: 0;
        padding: 0;
        display: flex;
        width: auto;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        &.icons {
          list-style: none;
        }
        .itemV2 {
          max-height: 1.25rem;
          width: 125px;
          margin-right: 0.5rem;
          display: grid;
          font-size: 0.75rem;
          grid-template-columns: 1rem auto 1.5rem 0.7rem;
          border-bottom: 1px solid;
          &.specialization {
            margin-left: 0.5rem;
            width: var(--skill-specialization-length);
            border-left: 1px solid;
          }
          .item-image {
            height: 0.875rem;
            background-size: contain;
            margin: 1px 0 0 0;
          }
          .item-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 3px;
            line-height: 1rem;
            input {
              height: 1rem;
              padding: 0;
              overflow: visible;
              background-color: @greyBackground;
              color: var(--main-sheet-front-color);
            }
          }
          .item-score {
            color: var(--main-sheet-back-color);
            text-align: end;
            margin-right: 2px;
            line-height: 1rem;
            input {
              height: 1rem;
              padding: 0;
              margin-right: 2px;
              background-color: @greyBackground;
              color: var(--main-sheet-back-color);
              text-align: end;
            }
          }
          .item-controls {
            font-size: 0.625rem;
            line-height: 1rem;
            flex: 0 0 1.25rem;
            display: block;
            text-align: end;
            width: max-content;
            a:hover {
              text-shadow: none;
              color: var(--main-sheet-back-color);
            }
            .item-control {
              &.active {
                color: goldenrod;
              }
            }
          }
        }
      }
    }
    .other {
      grid-area: other;
      padding: 0 0 0 10px;
      height: 100%;
      overflow-y: auto;
      ol {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
      }
      .cash-row {
        input {
          border: 0;
        }
        span {
          line-height: 1.4rem;
        }
      }
      .item-list {
        .itemV2 {
          margin-right: 3px !important;
          width: 10rem !important;
        }
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
      }
      .weapon-row {
        max-height: 1.25rem;
        font-size: 0.75rem;
        display: grid;
        border-bottom: 1px solid;
        grid-template-columns: 1rem 5.5rem 2.5rem 2rem;
        grid-template-rows: 1rem;
        grid-template-areas: "image name damage weaponControl";
        .weapon-damage {
          grid-area: damage;
          color: var(--main-sheet-back-color);
          text-align: end;
          margin-right: 2px;
          line-height: 1rem;
          text-align: center;
        }
        .weapon-image {
          height: 0.875rem;
          grid-area: image;
          background-size: contain;
          margin: 1px 0 0 0;
        }
        .weapon-name {
          grid-area: name;
          height: 1rem;
          line-height: 1rem;
          padding-left: 3px;
          font-size: 0.75rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .alternativ-skill {
          flex: 0 0 24px;
        }
        .weapon-control {
          text-align: center;
          line-height: 1rem;
          grid-area: weaponControl;
        }
        .weapon-controls {
          line-height: 1rem;
          text-align: center;
          display: grid;
          grid-template-columns: 1rem 1rem;
          grid-template-rows: 1rem;
          grid-area: weaponControl;
        }
      }
    }
  }
}
