<!-- Melee weapons -->
{{#unless data.flags.locked}}
<div style='flex: initial;'>
	<div class="add-item button" title="{{localize 'CoC7.AddWeapon'}}" data-type="weapon">{{localize 'CoC7.AddWeapon'}}</div>
</div>
{{/unless}}
<div style='flex: none;background-color: darkgrey;'>{{localize 'CoC7.MeleeWeapons'}}</div>
{{#if data.flags.locked}}
<div class="flexrow combat-header" style="border-bottom: 1px groove;text-align: center;font-weight: bold;flex: none;">
	<div class="flex2" style="border-right: 1px groove; padding-left: 2px;">{{localize 'CoC7.WeaponName'}}</div>
	<div class="flex4 flexrow" style="border-right: 1px groove; padding-left: 2px;">
		<div class="flex1">{{localize 'CoC7.WeaponSkill'}}</div>
		<div class="flex1">{{localize 'CoC7.WeaponSkillAlt'}}</div>
	</div>
	<div class=" flex2" style="padding-left: 2px;">{{localize 'CoC7.WeaponDamage'}}</div>
</div>
{{/if}}
<ol class="weapons-list" style="padding: 0;border-bottom: 2px groove;margin: 0 0 10px 0;flex: none;">
	{{#each meleeWpn as |weapon id|}}
		{{#if ../data.flags.locked}}
			<li class="item weapon flexcol" data-item-id="{{weapon._id}}">
				<div class="flexrow" style="align-items: center;">
					<div class="flex2 weapon-name rollable" style="border-right: 1px groove; padding: 1px 0 1px 2px;">{{weapon.name}}</div>
					<div class="flexrow flex4 weapon-skills" style="border-right: 1px groove; padding: 1px 0 1px 2px;">
						{{#if weapon.skillSet}}
							<div class="item-tag weapon-skill rollable" style="flex: 0 0 49%" data-skill-id="{{weapon.data.skill.main.id}}" title="Roll {{weapon.data.skill.main.name}} skill">{{weapon.data.skill.main.name}} ({{weapon.data.skill.main.value}}%)</div>
							{{#if weapon.usesAlternateSkill}}
								<div class="item-tag weapon-skill rollable" style="flex: 0 0 49%" data-skill-id="{{weapon.data.skill.alternativ.id}}" title="Roll {{weapon.data.skill.alternativ.name}} skill">{{weapon.data.skill.alternativ.name}} ({{weapon.data.skill.alternativ.value}}%)</div>
							{{/if}}
						{{else}}
							<div class="item-tag weapon-skill" style="flex: 0 0 49%; background-color: red;" title="{{ localize 'CoC7.SelectSkill' }}">{{ localize 'CoC7.NoSkill' }}</div>
							{{#if weapon.usesAlternateSkill}}
								<div class="item-tag weapon-skill" style="flex: 0 0 49%; background-color: red" title="{{ localize 'CoC7.SelectSkill' }}">{{ localize 'CoC7.NoSkill' }}</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="flexrow flex2" style="font-size: 10px; padding-left: 2px;">
						{{#if weapon.data.properties.rngd}}
							{{#if weapon.data.properties.shotgun}}
								{{#each weapon.data.range as |range key|}}
								<div class="flex1 weapon-damage" data-range="{{key}}">
									<a class="roll" data-mode="roll" title="{{range.value}}" data-formula="{{range.damage}}"><i class="fas fa-dice-d20"></i> {{range.damage}}</a>
								</div>
								{{/each}}
							{{else}}
							<div class="flex1 weapon-damage"  data-range="normal">
								<a class="roll" data-mode="roll" title="{{weapon.data.range.normal.value}}" data-formula="{{weapon.data.range.normal.damage}}"><i class="fas fa-dice-d20"></i> {{weapon.data.range.normal.damage}}</a>
							</div>
							{{/if}}
						{{else}}
						<div class="flex1 weapon-damage"  data-range="normal">
							<a class="roll" data-mode="roll" data-formula="{{weapon.data.range.normal.damage}}" title="{{weapon.data.range.normal.value}}"><i class="fas fa-dice-d20"></i> {{weapon.data.range.normal.damage}}</a>
						</div>
						{{/if}}
						<div class="flex0">
							{{#if weapon.data.properties.addb}}<span class="tag" title="Add DB">{{localize 'CoC7.WeaponAddb'}}</span>{{/if}}
							{{#if weapon.data.properties.ahdb}}<span class="tag" title="Add DB">{{localize 'CoC7.WeaponAhdb'}}</span>{{/if}}
						</div>
					</div>
				</div>
			</li>
		{{else}}
			<li class="item flexcol" style="border-bottom: 1px groove; margin-bottom: 2px; padding-bottom: 2px;" data-item-id="{{weapon._id}}">
				<div class="flexrow" style="align-items: center;">
					<div class="flex2" >
						<input class="weapon-name" style="display: flex; height: fit-content;padding: 0 1px;text-align: left;" type="text" value="{{weapon.name}}">
					</div>
					<div class="flexrow flex4 weapon-skills" style="flex-wrap: nowrap;" >
						
						<div class="flex1 flexrow" >
							<select class="item-tag weapon-skill {{#unless weapon.skillSet}}no-skill-set{{/unless}}" data-skill="main" data-skill-id="{{weapon.data.skill.main.id}}">
								{{#select weapon.data.skill.main.id}}
									{{#unless weapon.skillSet}}<option></option>{{/unless}}
									{{#each ../combatSkills as |cbs|}}
										<option value="{{cbs._id}}">{{cbs.name}}</option>
									{{/each}}
								{{/select}}
							</select>
						</div>
						<div class="flex1 flexrow" >
							{{#if weapon.usesAlternateSkill}}
								<select class="item-tag weapon-skill {{#unless weapon.skillSet}}no-skill-set{{/unless}}" data-skill="alternativ" data-skill-id="{{weapon.data.skill.alternativ.id}}">
									{{#select weapon.data.skill.alternativ.id}}
										{{#unless weapon.skillSet}}<option></option>{{/unless}}
										{{#each ../combatSkills as |cbs|}}
											<option value="{{cbs._id}}">{{cbs.name}}</option>
										{{/each}}
									{{/select}}
								</select>
							{{/if}}
						</div>

					</div>
					<div class="flexrow flex2" style="font-size: 10px;">
						{{#if weapon.data.properties.shotgun}}
							{{#each weapon.data.range as |range key|}}
							<div class="flex1">
								<input 
									class="damage-formula"
									style="display: flex; height: fit-content;padding: 0 1px;text-align: left;border: 1px solid whitesmoke;"
									type="text" data-range="{{key}}"
									value="{{range.damage}}">
							</div>
							{{/each}}
						{{else}}
							<div class="flex1">
								<input 
								class="damage-formula"
								style="display: flex; height: fit-content;padding: 0 1px;text-align: left;border: 1px solid whitesmoke;"
								type="text" data-range="normal"
								value="{{weapon.data.range.normal.damage}}">
							</div>
						{{/if}}
					</div>
					<div class="item-controls">
						<a class="item-control item-edit" title="{{localize 'CoC7.EditWeapon'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="{{localize 'CoC7.DeleteWeapon'}}"><i class="fas fa-trash"></i></a>
					</div>
				</div>
				<div class="skill-attributes" style="margin-left: 2px;  display: block;" data-set="properties">
					{{#each weapon.data._properties as | property key|}}
						<span class="toggle-switch {{#if property.value}} switched-on {{/if}}" data-property="{{property.id}}">{{localize property.name}}</span>
					{{/each}}
				</div>
			</li>
		{{/if}}
	{{/each}}
</ol>

<!-- Range -->
<div style='flex: none;background-color: darkgrey;'>{{localize 'CoC7.RangeWeapons'}}</div>
{{#if data.flags.locked}}
<div class="flexrow combat-header" style="border-bottom: 1px groove;text-align: center;font-weight: bold;flex: none;">
	<div class="flex2" style="border-right: 1px groove; padding-left: 2px;">{{localize 'CoC7.WeaponName'}}</div>
	<div class="flex4 flexrow" style="border-right: 1px groove; padding-left: 2px;">
		<div class="flex1">{{localize 'CoC7.WeaponSkill'}}</div>
		<div class="flex1">{{localize 'CoC7.WeaponSkillAlt'}}</div>
	</div>
	<div class=" flex2" style="padding-left: 2px;">{{localize 'CoC7.WeaponDamage'}}</div>
</div>
{{/if}}
<ol class="weapons-list" style="padding: 0;border-bottom: 2px groove;margin: 0 0 10px 0;flex: none;">
	{{#each rangeWpn as |weapon id|}}
		{{#if ../data.flags.locked}}
			<li class="item weapon flexcol" data-item-id="{{weapon._id}}">
				<div class="flexrow" style="align-items: center;">
					<div class="flex2 weapon-name rollable" style="border-right: 1px groove; padding: 1px 0 1px 2px;">{{weapon.name}}</div>
					<div class="flexrow flex4 weapon-skills" style="border-right: 1px groove; padding: 1px 0 1px 2px;">
						{{#if weapon.skillSet}}
							<div class="item-tag weapon-skill rollable" style="flex: 0 0 49%" data-skill-id="{{weapon.data.skill.main.id}}" title="Roll {{weapon.data.skill.main.name}} skill">{{weapon.data.skill.main.name}} ({{weapon.data.skill.main.value}}%)</div>
							{{#if weapon.usesAlternateSkill}}
								<div class="item-tag weapon-skill rollable" style="flex: 0 0 49%" data-skill-id="{{weapon.data.skill.alternativ.id}}" title="Roll {{weapon.data.skill.alternativ.name}} skill">{{weapon.data.skill.alternativ.name}} ({{weapon.data.skill.alternativ.value}}%)</div>
							{{/if}}
						{{else}}
							<div class="item-tag weapon-skill" style="flex: 0 0 49%; background-color: red;" title="{{ localize 'CoC7.SelectSkill' }}">{{ localize 'CoC7.NoSkill' }}</div>
							{{#if weapon.usesAlternateSkill}}
								<div class="item-tag weapon-skill" style="flex: 0 0 49%; background-color: red" title="{{ localize 'CoC7.SelectSkill' }}">{{ localize 'CoC7.NoSkill' }}</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="flexrow flex2" style="font-size: 10px; padding-left: 2px;line-height: 18px;">
						{{#if weapon.data.properties.rngd}}
							{{#if weapon.data.properties.shotgun}}
								{{#each weapon.data.range as |range key|}}
								<div class="flex1 weapon-damage" data-range="{{key}}">
									<a class="roll" data-mode="roll" title="{{range.value}}" data-formula="{{range.damage}}"><i class="fas fa-dice-d20"></i> {{range.damage}}</a>
								</div>
								{{/each}}
							{{else}}
							<div class="flex1 weapon-damage"  data-range="normal">
								<a class="roll" data-mode="roll" title="{{weapon.data.range.normal.value}}" data-formula="{{weapon.data.range.normal.damage}}"><i class="fas fa-dice-d20"></i> {{weapon.data.range.normal.damage}}</a>
							</div>
							{{/if}}
						{{else}}
						<div class="flex1 weapon-damage"  data-range="normal">
							<a class="roll" data-mode="roll" data-formula="{{weapon.data.range.normal.damage}}" title="{{weapon.data.range.normal.value}}"><i class="fas fa-dice-d20"></i> {{weapon.data.range.normal.damage}}</a>
						</div>
						{{/if}}
						<div class='flexrow' style='flex: 0 0 35px;'>
							<span class="tag" style='line-height: 16px;font-size: 10px;'>{{weapon.data.ammo}}</span>
							<div class='flexcol' style='font-size: 9px;'>
								<i class="fas fa-redo-alt reload-weapon" title="Reload"></i>
								<i class="far fa-plus-square add-ammo" title="Add 1 ammunition"></i>
							</div>
						</div>
					</div>
				</div>
			</li>
		{{else}}
			<li class="item flexcol" style="border-bottom: 1px groove; margin-bottom: 2px; padding-bottom: 2px;" data-item-id="{{weapon._id}}">
				<div class="flexrow" style="align-items: center;">
					<div class="flex2" >
						<input class="weapon-name" style="display: flex; height: fit-content;padding: 0 1px;text-align: left;" type="text" value="{{weapon.name}}">
					</div>
					<div class="flexrow flex4 weapon-skills" style="flex-wrap: nowrap;" >
						
						<div class="flex1 flexrow" >
							<select class="item-tag weapon-skill {{#unless weapon.skillSet}}no-skill-set{{/unless}}" data-skill="main" data-skill-id="{{weapon.data.skill.main.id}}">
								{{#select weapon.data.skill.main.id}}
									{{#unless weapon.skillSet}}<option></option>{{/unless}}
									{{#each ../combatSkills as |cbs|}}
										<option value="{{cbs._id}}">{{cbs.name}}</option>
									{{/each}}
								{{/select}}
							</select>
						</div>
						<div class="flex1 flexrow" >
							{{#if weapon.usesAlternateSkill}}
								<select class="item-tag weapon-skill {{#unless weapon.skillSet}}no-skill-set{{/unless}}" data-skill="alternativ" data-skill-id="{{weapon.data.skill.alternativ.id}}">
									{{#select weapon.data.skill.alternativ.id}}
										{{#unless weapon.skillSet}}<option></option>{{/unless}}
										{{#each ../combatSkills as |cbs|}}
											<option value="{{cbs._id}}">{{cbs.name}}</option>
										{{/each}}
									{{/select}}
								</select>
							{{/if}}
						</div>

					</div>
					<div class="flexrow flex2" style="font-size: 10px;">
						{{#if weapon.data.properties.shotgun}}
							{{#each weapon.data.range as |range key|}}
							<div class="flex1">
								<input 
									class="damage-formula"
									style="display: flex; height: fit-content;padding: 0 1px;text-align: left;border: 1px solid whitesmoke;"
									type="text" data-range="{{key}}"
									value="{{range.damage}}">
							</div>
							{{/each}}
						{{else}}
							<div class="flex1">
								<input 
								class="damage-formula"
								style="display: flex; height: fit-content;padding: 0 1px;text-align: left;border: 1px solid whitesmoke;"
								type="text" data-range="normal"
								value="{{weapon.data.range.normal.damage}}">
							</div>
						{{/if}}
					</div>
					<div class="item-controls">
						<a class="item-control item-edit" title="{{localize 'CoC7.EditWeapon'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="{{localize 'CoC7.DeleteWeapon'}}"><i class="fas fa-trash"></i></a>
					</div>
				</div>
				<div class="skill-attributes" style="margin-left: 2px;  display: block;" data-set="properties">
					{{#each weapon.data._properties as | property key|}}
						<span class="toggle-switch {{#if property.value}} switched-on {{/if}}" data-property="{{property.id}}">{{localize property.name}}</span>
					{{/each}}
				</div>
			</li>
		{{/if}}
	{{/each}}
</ol>

{{#unless data.flags.locked}}
<div style='flex: initial;'>
	<div class="add-item button" title="{{localize 'CoC7.AddSkill'}}" data-type="skill">{{localize 'CoC7.AddSkill'}}</div>
</div>
{{/unless}}

<div style="flex:none;margin: 0 0 4px 0;" class="flexcol">
	<h4 style="margin: 0 0 2px 0;background-color: darkgrey;padding-bottom: 2px;">{{localize 'CoC7.MeleeSkills'}}</h4>
	<div class="flexrow">
		{{#each meleeSkills as |skill|}}
		<div class='item {{#if ../data.flags.locked}}item-tag{{/if}}'  style="flex: 0 0 24%; height:fit-content" data-item-id="{{skill._id}}">
			{{#if ../data.flags.locked}}
				<div class="weapon-skill rollable" data-skill-id="{{skill._id}}" title="Roll {{skill.name}} skill">{{skill.name}} ({{skill.data.value}}%)</div>
			{{else}}
			<div class="flexrow" >
				<input class="skill-name flex1" style="font-size: 12px;height: 20px;padding: 0;text-align: left;" type="text" value="{{skill.name}}">
				<input class="npc-skill-score" style="font-size: 11px;flex: 0 0 20px;height: 20px;padding: 0 6px 0 0;margin: 0;text-align: right;" type="text" value="{{skill.data.value}}" data-dtype="Number">
				<div class="item-controls">
					<a class="item-control item-edit" title="{{localize 'CoC7.EditSkill'}}"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" title="{{localize 'CoC7.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>

<div style="flex:none;margin: 0 0 4px 0;" class="flexcol">
	<h4 style="margin: 0 0 2px 0;background-color: darkgrey;padding-bottom: 2px;">{{localize 'CoC7.RangeSkills'}}</h4>
	<div class="flexrow">
		{{#each rangeSkills as |skill|}}
		<div class='item {{#if ../data.flags.locked}}item-tag{{/if}}'  style="flex: 0 0 24%; height:fit-content" data-item-id="{{skill._id}}">
			{{#if ../data.flags.locked}}
				<div class="weapon-skill rollable" data-skill-id="{{skill._id}}" title="Roll {{skill.name}} skill">{{skill.name}} ({{skill.data.value}}%)</div>
			{{else}}
			<div class="flexrow" >
				<input class="skill-name flex1" style="font-size: 12px;height: 20px;padding: 0;text-align: left;" type="text" value="{{skill.name}}">
				<input class="npc-skill-score" style="font-size: 11px;flex: 0 0 20px;height: 20px;padding: 0 6px 0 0;margin: 0;text-align: right;" type="text" value="{{skill.data.value}}" data-dtype="Number">
				<div class="item-controls">
					<a class="item-control item-edit" title="{{localize 'CoC7.EditSkill'}}"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" title="{{localize 'CoC7.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>