{{#unless data.flags.locked}}
<div class='bio-control' style='flex:initial;'>
    <div class='add-new-section button' >{{localize 'CoC7.BackgroundNewSection'}}</div>
</div>
{{/unless}}
<div class='flexrow'>
{{#each data.biography as |section index|}}
<div class='flexcol bio-section' data-index='{{index}}' style='flex: 0 0 50%;'>
    {{#if ../data.flags.locked}}
    <div class='flexrow' style='flex: initial;'>
        <label style='height: 17px;margin: 0;border: 0;font-family: customSheetFont, "Palatino Linotype", serif;font-size: 12px;'>{{section.title}}</label>
    </div>
    {{else}}
    <div class='flexrow' style='flex: initial;'>
        <input class='bio-section-title' style='height: fit-content;margin: 0;border: 0;font-family: customSheetFont, "Palatino Linotype", serif;font-size: 12px;font-weight: bolder;'  type="text" value="{{section.title}}" placeholder="{{localize 'CoC7.BackgroundSectionNameHolder'}}">
        <div class="flex1" style='height: fit-content;'></div>
        <div class="item-controls" style='height: fit-content;font-size: 10px;line-height: 18px;'>
            <a class="delete-section" title="{{localize 'CoC7.BackgroundDeleteSection'}}"><i class="fas fa-trash"></i></a>
            {{#unless section.isFirst}}<a class="move-section-up" title="{{localize 'CoC7.BackgroundSectionMoveUp'}}"><i class="fas fa-caret-up"></i></a>{{/unless}}
            {{#unless section.isLast}}<a class="move-section-down" title="{{localize 'CoC7.BackgroundSectionMoveDown'}}"><i class="fas fa-caret-down"></i></a>{{/unless}}
        </div>
    </div>
    {{/if}}
    <textarea class='bio-section-value' style='height: max-content;resize: none;font-family: customSheetFont, "Palatino Linotype", serif;font-size: 12px;' rows="4" >{{section.value}}</textarea>
    <!-- {{editor content=section.value target="section.value" button=true editable=editable}} -->
</div>
{{/each}}
</div>