<ol class="skills-list" >
    {{#each skills as |skill id|}}
        <li class="item flexcol" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
            <div class="flexrow">
                <div class="skill-image" style="background-image: url({{skill.img}})"></div>
                <h4 class="skill-name rollable">{{#if skill.data.properties.special}}{{skill.data.specialization}} ({{skill.name}}){{else}}{{skill.name}}{{/if}}:</h4>

                <span>({{skill.data.value}}%)</span>
                <div class="item-controls">
                    <a class="item-control item-detail" title="Detail"><i class="fas fa-arrow-alt-circle-down"></i></a>
                    <a class="item-control item-edit" title="Edit skill"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete skill"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </li>
    {{/each}}
</ol>
