<div class="flexrow" style="height: 100%">
  <div class="flexcol flex3 inventory">
    {{> "systems/CoC7/templates/actors/parts/actor-inventory-items.html"}}
  </div>
  <div class="flexcol flex2 cash" style="border: 1px groove;">
    {{#unless data.system.flags.locked}}
      <div class="flexrow cash-row">
        {{#if data.system.flags.manualCredit}}
          <label>{{localize 'CoC7.ManualCreditValues'}}</label>
          <div class='flex1'></div>
        {{/if}}
        <div class="flag {{#if data.system.flags.manualCredit}}auto-off{{else}}auto-on{{/if}}" data-flag="manualCredit" title="{{localize 'CoC7.AutoCreditValues'}}" style="flex: 0;margin-right: 5px;">
          <i class="fas fa-cogs" style="padding-top: 4px;"></i>
        </div>
      </div>
    {{/unless}}
    <div class="flexrow cash-row">
      <label>{{localize 'CoC7.MonetarySpendingLevel'}}</label>
      {{#if data.system.flags.manualCredit}}
        <input type="text" name="system.monetary.spendingLevel" value="{{data.system.monetary.spendingLevel}}">
      {{else}}
        <span>{{monetary.spendingLevel}}</span>
      {{/if}}
    </div>
    <div class="flexrow cash-row">
      <label>{{localize 'CoC7.MonetaryCash'}}</label>
      {{#if data.system.flags.manualCredit}}
        <input type="text" name="system.monetary.cash" value="{{data.system.monetary.cash}}">
      {{else}}
        <span>{{monetary.cash}}</span>
      {{/if}}
    </div>
    <div class="flexrow cash-row">
      <label>{{localize 'CoC7.MonetarySpent'}}</label><input type="text" name="system.monetary.spent" value="{{data.system.monetary.spent}}">
    </div>
    <div class="flexrow  cash-row">
      <label>{{localize 'CoC7.MonetaryAssets'}}</label>
      {{#if data.system.flags.manualCredit}}
        <input type="text" name="system.monetary.assets" value="{{data.system.monetary.assets}}">
      {{else}}
        <span style="line-height: 22px;">{{monetary.assets}}</span>
      {{/if}}
    </div>
    <div style="flex:none">
      <textarea name="system.monetary.assetsDetails" placeholder="{{localize 'CoC7.MonetaryAssetsDetails'}}" rows="4">{{data.system.monetary.assetsDetails}}</textarea>
    </div>
    <label style="flex: initial;">{{localize 'CoC7.PossessionsNotes'}}</label>
    <div class="flex1">
      <textarea name="system.notes" placeholder="{{localize 'CoC7.PossessionsNotesHolder'}}">{{data.system.notes}}</textarea>
    </div>
  </div>
</div>