<ol class="skills-list">
  {{#each skills as |skill id|}}
    <li class="item {{#if ../pulpRuleArchetype}}pulpCharacter{{/if}}" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
      <div class="item-controls flexrow">
        {{#unless skill.system.properties.noadjustments}}
          <div class="item-control occupation-skill-flag {{#if../allowCharCreation}}clickable{{/if}}" title="{{localize 'CoC7.OccupationSkill'}}">
            {{#if skill.system.flags.occupation}}
              <i class="fas fa-circle"></i>
            {{else}}
              <i class="far fa-circle"></i>
            {{/if}}
          </div>
          {{#if ../pulpRuleArchetype}}
            <div class="item-control archetype-skill-flag {{#if../allowCharCreation}}clickable{{/if}}" title="{{localize 'CoC7.ArchetypeSkill'}}">
              {{#if skill.system.flags.archetype}}
                <i class="fas fa-circle"></i>
              {{else}}
                <i class="far fa-circle"></i>
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}
      </div>

      <span class="skill-name {{#if skill.system.flags.developement}}{{#if ../allowDevelopment}}rollable{{/if}} flagged4dev{{/if}}">{{skill.name}}</span>
      <div class="adjustment-value locked" title="{{localize 'CoC7.SkillBase'}}">
        <span>{{skill.system.base}}</span>
      </div>
      <div class="adjustment-value {{#if skill.system.properties.noadjustments}}locked{{/if}}" title="{{localize 'CoC7.SkillPersonal'}}">
        {{#if ../allowCharCreation}}
          {{#unless skill.system.properties.noadjustments}}
            <input type="text" class="skill-adjustment" name="system.adjustments.personal" value="{{skill.system.adjustments.personal}}" data-dtype="Number">
          {{/unless}}
        {{else}}
          <span>{{skill.system.adjustments.personal}}</span>
        {{/if}}
      </div>
      <div class="adjustment-value {{#unless skill.system.flags.occupation}}locked{{/unless}}" title="{{localize 'CoC7.SkillOccupation'}}">
        {{#if ../allowCharCreation}}
          {{#if skill.system.flags.occupation}}
            <input type="text" class="skill-adjustment" name="system.adjustments.occupation" value="{{skill.system.adjustments.occupation}}" data-dtype="Number">
          {{else}}
            <span>{{skill.system.adjustments.occupation}}</span>
          {{/if}}
        {{else}}
          <span>{{skill.system.adjustments.occupation}}</span>
        {{/if}}
      </div>
      {{#if ../pulpRuleArchetype}}
        <div class="adjustment-value {{#unless skill.system.flags.archetype}}locked{{/unless}}" title="{{localize 'CoC7.SkillArchetype'}}">
          {{#if ../allowCharCreation}}
            {{#if skill.system.flags.archetype}}
              <input type="text" class="skill-adjustment" name="system.adjustments.archetype" value="{{skill.system.adjustments.archetype}}" data-dtype="Number">
            {{else}}
              <span>{{skill.system.adjustments.archetype}}</span>
            {{/if}}
          {{else}}
            <span>{{skill.system.adjustments.archetype}}</span>
          {{/if}}
        </div>
      {{/if}}
      <div class="adjustment-value" title="{{localize 'CoC7.SkillExperience'}}">
        {{#if ../allowCharCreation}}
          <input type="text" class="skill-adjustment" name="system.adjustments.experience" value="{{skill.system.adjustments.experience}}" data-dtype="Number">
        {{else}}
          <span>{{skill.system.adjustments.experience}}</span>
        {{/if}}
      </div>
      <div class="adjustment-value locked" title="{{localize 'CoC7.Value'}}">
        <span>{{skill.system.value}}</span>
      </div>
    </li>
  {{/each}}
</ol>