<div class="skill-roll-menu">
    <div class="content">
      <ul class="menu">
        <li class="item">
          <i class="uil uil-eye"></i>
          <span>Preview</span>
        </li>
        <li class="item share">
          <div>
            <i class="uil uil-share"></i>
            <span>Share</span>
          </div>
          <i class="uil uil-angle-right"></i>
          <ul class="share-menu">
            <li class="item">
              <i class="uil uil-twitter-alt"></i>
              <span>Twitter</span>
            </li>
            <li class="item">
              <i class="uil uil-instagram"></i>
              <span>Instagram</span>
            </li>
            <li class="item">
              <i class="uil uil-dribbble"></i>
              <span>Dribble</span>
            </li>
            <li class="item">
              <i class="uil uil-telegram-alt"></i>
              <span>Telegram</span>
            </li>
          </ul>
        </li>
        <li class="item">
          <i class="uil uil-link-alt"></i>
          <span>Get Link</span>
        </li>
        <li class="item">
          <i class="uil uil-edit"></i>
          <span>Rename</span>
        </li>
        <li class="item">
          <i class="uil uil-trash-alt"></i>
          <span>Delete</span>
        </li>
      </ul>
      <div class="setting">
        <li class="item">
          <i class="uil uil-setting"></i>
          <span>Settings</span>
        </li>
      </div>
    </div>
  </div>