<div class="context-menu-wrapper skill-roll">
  <ul class="menu-section">
    <li class="menu-item">
      <span>Roll</span>
    </li>
    <li class="menu-item">
      <span>Opposed roll</span>
    </li>
    <li class="menu-item">
      <span>Combined roll</span>
    </li>
  </ul>
  <ul class="menu-section">
    <li class="menu-item">
      <span>Request roll</span>
    </li>
    <li class="menu-item sub-menu-button">
      <span>Link</span>
      <i class="fas fa-caret-right"></i>
      <ul class="sub-menu">
        <li class="menu-item">
          <span>Open in link tool</span>
        </li>
        <li class="menu-item">
          <span>Send to chat</span>
        </li>
        <li class="menu-item">
          <span>Copy to clip board</span>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="menu-section">
    <li class="menu-item">
      <span>Request roll</span>
    </li>
    <li class="menu-item sub-menu-button">
      <i class="fas fa-link"></i>
      <span>Link</span>
      <i class="fas fa-caret-right"></i>
      <ul class="sub-menu">
        <li class="menu-item">
          <span>Open in link tool</span>
        </li>
        <li class="menu-item">
          <span>Send to chat</span>
        </li>
        <li class="menu-item">
          <span>Copy to clip board</span>
        </li>
      </ul>
    </li>
  </ul>
</div>