<div class="development-infos">
    <div class="skill-points">
        {{#if allowCharCreation}}
        <div class="header-section" title="{{localize 'CoC7.SkillTotalPersonal'}}">
            <label class="{{#if invalidPersonalPoints}}error{{/if}}">{{localize 'CoC7.SkillTotalPersonal'}}:</label>
            <div class="monitor {{#if invalidPersonalPoints}}warning{{/if}}">
                <div class="current-value"><span>{{totalPersonal}}</span></div>
                <div class="separator">/</div>
                <div class="max-value">
                    {{#if allowCharCreation}}
                        <input type="text" name="data.development.personal"  value="{{data.development.personal}}" data-dtype="Number"/>
                    {{else}}
                        <span>{{data.development.personal}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="header-section " title="{{localize 'CoC7.SkillTotalOccupation'}}">
            <label class="{{#if invalidOccupationPoints}}error{{/if}}">{{localize 'CoC7.SkillTotalOccupation'}}:</label>
            <div class="monitor  {{#if invalidOccupationPoints}}warning{{/if}}">
                <div class="current-value"><span>{{totalOccupation}}</span></div>
                <div class="separator">/</div>
                <div class="max-value">
                    {{#if allowCharCreation}}
                        <input type="text" name="data.development.occupation"  value="{{data.development.occupation}}" data-dtype="Number"/>
                    {{else}}
                        <span>{{data.development.occupation}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
            {{#if pulpCharacter}}
                <div class="header-section" title="{{localize 'CoC7.SkillTotalArchetype'}}">
                    <label class="{{#if invalidArchetypePoints}}error{{/if}}">{{localize 'CoC7.SkillTotalArchetype'}}:</label>
                    <div class="monitor {{#if invalidArchetypePoints}}warning{{/if}}">
                        <div class="current-value"><span>{{totalArchetype}}</span></div>
                        <div class="separator">/</div>
                        <div class="max-value">
                            {{#if allowCharCreation}}
                                <input type="text" name="data.development.archetype"  value="{{data.development.archetype}}" data-dtype="Number"/>
                            {{else}}
                                <span>{{data.development.archetype}}</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>

    <div class="validation">
        {{#if allowCharCreation}}
            {{#if data.infos.occupationSet}}
                <div class="header-section {{#if invalidCreditRating}}warning{{/if}}" title="{{localize 'CoC7.CreditRatingSkillName'}}">
                    <label class="{{#if invalidCreditRating}}error{{/if}}">{{creditRatingMin}}&lt{{localize 'CoC7.CreditRatingSkillName'}}&lt{{creditRatingMax}}</label>
                </div>
            {{/if}}
            {{#if data.infos.archetypeSet}}
                <div class="header-section {{#if invalidPulpTalents}}warning{{/if}}" title="{{localize 'CoC7.PulpTalents'}}">
                    <label class="{{#if invalidPulpTalents}}error{{/if}}">{{localize 'CoC7.PulpTalents'}}: {{pulpTalentCount}}/{{minPulpTalents}}</label>
                </div>
            {{/if}}

            {{#unless allowDevelopment}}
                <div class="header-section  {{#if hasSkillFlaggedForExp}}flagged4dev{{/if}}" title="{{localize 'CoC7.SkillTotalExperience'}}">
                    <label>{{localize 'CoC7.SkillTotalExperience'}}:</label>
                    <span>{{totalExperience}}</span>
                </div>
            {{/unless}}
        {{/if}}

    </div>

    <div class="experience">
        {{#if allowDevelopment}}
        <div class="header-section" title="{{localize 'CoC7.SkillTotalExperience'}}">
            {{#if hasSkillFlaggedForExp}}
                <div class="skill-developement button" title="{{localize 'CoC7.DevelopemmentPhase'}}">{{localize 'CoC7.DevelopemmentPhase'}}</div>
            {{else}}
                <label>{{localize 'CoC7.SkillTotalExperience'}}:</label>
                <span>{{totalExperience}}</span>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>