<div class="flexrow">
  {{#each skills as |skill id|}}
    <div class="item flexrow {{#if skill.system.properties.combat}}combat-skill{{/if}}" style="flex: 0 0 33%;flex-wrap: wrap;border-right: 1px groove;" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}" data-context-menu="skill-roll" data-target-type="skill">
      {{#if skill.system.properties.special}}
        <div class="npc-specialization">{{skill.system.specialization}}</div>
      {{/if}}
      {{#if ../data.system.flags.locked}}
        <h4 class="skill-name combat rollable" style="height:18px;padding: 1px 0 1px 2px;margin: 0;overflow: hidden;">{{skill.system.skillName}}</h4>
        <input class="npc-skill-score read-only" style="flex: 0 0 25px;height: fit-content;padding: 0 2px;text-align: right;" type="text" value="{{skill.system.value}}" data-dtype="Number" readonly>
        <span style="flex: 0 0 10px;">%</span>
      {{else}}
        <input class="skill-name flex1" style="height: fit-content;padding: 0 1px;text-align: left;" type="text" value="{{skill.system.skillName}}">
        <input class="npc-skill-score" style="flex: 0 0 25px;height: fit-content;padding: 0 2px;text-align: right;" type="text" value="{{skill.system.rawValue}}" data-dtype="Number">
        <div class="item-controls" style="height: 18px;padding-top: 3px;">
          <a class="item-control item-delete" title="{{localize 'CoC7.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
          <a class="item-control item-edit" title="{{localize 'CoC7.EditSkill'}}"><i class="fas fa-edit"></i></a>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>