{{#each skills as |skill id|}}
	<div class="item flexrow {{#if skill.data.properties.combat}}combat-skill{{/if}}" style="flex: 0 0 33%;flex-wrap: wrap;" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
		<h4 class="skill-name rollable" style="height:18px;padding: 1px 0 1px 2px;margin: 0;overflow: hidden;">{{skill.name}}</h4>
		<input class="npc-skill-score read-only" style="flex: 0 0 25px;height: fit-content;padding: 0 2px;text-align: right;" type="text" name="data.items.{{id}}.value" value="{{skill.data.value}}" data-dtype="Number" readonly>
		{{#unless ../data.flags.locked}}
			<div class="item-controls" style="height: 18px;">
				<a class="item-control item-delete" title="Delete skill"><i class="fas fa-trash"></i></a>
				<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			</div>
		{{/unless}}
	</div>
{{/each}}
