<div class="luck-group attribute" data-attrib="lck">
    <label class="attribute-label rollable"  draggable="true">{{localize 'CoC7.Luck'}}</label>
    <input class="attribute-value" type="text" name="data.attribs.lck.value" value="{{data.attribs.lck.value}}" data-dtype="Number" data-attrib="lck">
    <input class="attribute-value invisible" type="text" name="data.attribs.lck.max" value="99" data-dtype="Number" data-attrib="lck" readonly>
</div>

<div class="hp-group">
    <div class="hp-text attribute" data-attrib="hp">
        <label class="{{#unless data.flags.locked}} auto-toggle {{#unless data.attribs.hp.auto}}manual-override{{/unless}}{{/unless}}">{{localize 'CoC7.HitPoints'}}</label>
        <div class="monitor hp-value">
            <div class="current-value">
                <input class="attribute-value" type="text" name="data.attribs.hp.value" value="{{data.attribs.hp.value}}"  data-dtype="Number"/>
            </div>
            <div class="separator">/</div>
            <div class="max-value">
                {{#if data.attribs.hp.auto}}
                    <input type="text" name="data.attribs.hp.max" value="{{data.attribs.hp.max}}" data-dtype="Number" readonly/>
                {{else}}
                    <input type="text" name="data.attribs.hp.max" value="{{data.attribs.hp.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}/>
                {{/if}}
            </div>
        </div>
        <div class="status">
            <a class="status-monitor {{#if data.status.prone.value}}status-on{{/if}}" title="{{localize 'CoC7.Prone'}}" data-status="prone"><i class="game-icon game-icon-falling"></i></a>
            <a class="status-monitor {{#if data.status.unconscious.value}}status-on{{/if}}" title="{{localize 'CoC7.Unconsious'}}" data-status="unconscious"><i class="game-icon game-icon-knocked-out-stars"></i></a>
            <a class="status-monitor {{#if data.status.criticalWounds.value}}status-on{{/if}}" title="{{localize 'CoC7.CriticalWounds'}}" data-status="criticalWounds"><i class="game-icon game-icon-arm-sling"></i></a>
            <a class="status-monitor {{#if data.status.dying.value}}status-on{{/if}} is-dead" title="{{localize 'CoC7.Dying'}}" data-status="dying"><i class="game-icon game-icon-heart-beats"></i></a>
        </div>
        
        <div class="status">
            {{#if data.status.dead.value}}
                <a class="status-monitor status-on" title="{{localize 'CoC7.Dead'}}" data-status="dead"><i class="game-icon game-icon-tombstone"></i></a>
            {{else}}
                <a class="{{#if data.status.dying.value}}status-monitor dying-check{{else}}inative-status{{/if}}" title="{{#if data.status.dying.value}}{{localize 'CoC7.DyingCheck'}}{{/if}}"><i class="game-icon game-icon-d10"></i></a>
            {{/if}}
        </div>
    </div>
</div>

<div class="san-group">
    <div class="san-text attribute" data-attrib="san" >
        <label class="{{#if data.flags.locked}} attribute-label rollable{{else}} auto-toggle{{#unless data.attribs.san.auto}} manual-override{{/unless}}{{/if}}" draggable="true">{{localize 'CoC7.Sanity'}}</label>
        <div class="monitor san-value">
            <div class="current-value">
                <input class="attribute-value" type="text" name="data.attribs.san.value" value="{{data.attribs.san.value}}"  data-dtype="Number"/>
            </div>
            <div class="separator">/</div>
            <div class="max-value">
                {{#if data.attribs.san.auto}}
                    <input type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" readonly/>
                {{else}}
                    <input type="text" name="data.attribs.san.max" value="{{data.attribs.san.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}/>
                {{/if}}
            </div>
        </div>
        <div>
            <label>{{localize 'CoC7.DailyLoss'}}: {{data.attribs.san.dailyLoss}}</label>
        </div>
        <div class="status">
            <div class="invisible">
                <input class="locked" type="text" name="data.indefiniteInsanityLevel.value" value="{{data.indefiniteInsanityLevel.value}}" data-dtype="Number" readonly/>
                <input class="locked" type="text" name="data.indefiniteInsanityLevel.max" value="{{data.indefiniteInsanityLevel.max}}" data-dtype="Number" readonly/>
            </div>
            <a class="status-monitor {{#if isInABoutOfMadness}}status-on{{/if}}" title="{{sanity.boutOfMadness.hint}}" data-effect="boutOfMadness"><i class="game-icon game-icon-hanging-spider"></i></a>
            <a class="status-monitor {{#if isInsane}}status-on{{/if}}" title="{{localize 'CoC7.UnderlyingInsanity'}}: {{sanity.underlying.hint}}" data-effect="insanity"><i class="game-icon game-icon-tentacles-skull"></i></a>
        </div>
        <div class="control">
            <a class="reset-counter" title="{{localize 'CoC7.DailySanIconOver'}}" data-counter="data.attribs.san.dailyLoss"><i class="fas fa-undo"></i></a>
        </div>

    </div>
</div>

<div class="magic-group attribute" data-attrib="mp">
    <label class="{{#unless data.flags.locked}} auto-toggle{{#unless data.attribs.mp.auto}} manual-override{{/unless}}{{/unless}}">{{localize 'CoC7.MagicPoints'}}</label>
    <div class="monitor mp-value">
        <div class="current-value">
            <input class="attribute-value" type="text" name="data.attribs.mp.value" value="{{data.attribs.mp.value}}"  data-dtype="Number"/>
        </div>
        <div class="separator">/</div>
        <div class="max-value">
            {{#if data.attribs.mp.auto}}
                <input type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" readonly/>
            {{else}}
                <input type="text" name="data.attribs.mp.max" value="{{data.attribs.mp.max}}" data-dtype="Number" {{#if data.flags.locked}}readonly{{/if}}/>
            {{/if}}
        </div>
    </div>
</div>