.coc7 .invisible{
    display: none;
}

.coc7.chat-card.range .card-buttons button{
    height: 20px;
    line-height: 16px;
}

.coc7 .button{
    display: inline-block;
    margin: 2px 2px 0 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 16px;
    border: 1px groove #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

.coc7 .button:hover{
    text-shadow: 0 0 8px red;
    border: 1px solid #999;
}

.coc7 .button.inactive {
    border: 1px solid white;
    color: white;
}

.coc7 .button.inactive:hover {
    cursor: not-allowed;
    background-color: transparent;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-result{
    margin-bottom: 5px;
}

.coc7.sheet .cash label {
    margin: 0;
    padding: 3px;
    border:0;
    height: auto;
}

.coc7.sheet .cash span{
    line-height: 22px;
}

.coc7.sheet .cash input[type="text"],
.coc7.sheet .cash input[type="number"]{
    margin: 0;
    padding: 0;
    border: 0;
    height: 22px;
}

.coc7.sheet .cash input[type="text"]:hover{
    border: 0;
}

.coc7.sheet .cash textarea{
    height:100%;
    resize: vertical;
    margin: 0;
    border: 0;
    font-family: "Modesto", "Signika", "Palatino Linotype", "serif";
    font-size: 12px;
    white-space: pre-line;
}

.coc7.sheet .cash .cash-row {
    flex: initial;
}

.coc7.sheet .item-controls a.item-control.inactive:hover{
    text-shadow: none;
    cursor: unset;
}

.coc7.chat-card .dropbtn {
    font-size: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
}
 
.coc7.chat-card .dropdown:hover,
.coc7.chat-card .toggle-switch:hover {
    background-color: lightgray;
}
  
.coc7.chat-card .dropdown {
    position: relative;
    display: inline-block;
}

.coc7.chat-card .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.coc7.chat-card .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
  
.coc7.chat-card .dropdown a:hover {background-color: #ddd;    text-shadow: 0 0 8px red;
}
  
.coc7.chat-card .show {display: block;}

.coc7.chat-card label{
    text-align: left;
    margin-bottom: 0;
}

.coc7.chat-card .defender-action-select {
    border-bottom: groove 2px #FFF;
}

.coc7.chat-card .response-selection {
    margin-bottom: 2px;
}

.coc7 .auto-on{
    padding-left: 4px;
    line-height: 22px;
    color: green;
}

.coc7 .auto-off{
    padding-left: 4px;
    line-height: 22px;
    color: grey;
}

.coc7.sheet .status-monitor{
    flex: 0 0 25px;
    color: darkgrey;
    padding: 1px 6px;
    text-align: center;
}

.coc7.sheet .status-monitor.invert{
    transform: rotateZ(180deg);
}
.coc7.sheet .status-monitor.status-on{
    color: darkred;
}

.coc7.sheet.npc select {
    width:100px;
    height: 16px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    border: 1px solid whitesmoke;
}

.coc7.sheet.npc .item-controls {
    height: auto;
    font-size: 10px;
}
.coc7.sheet.npc select option {
    width:100px;
    text-overflow:ellipsis;
    overflow:hidden;
}

.coc7.sheet.npc .toggle-switch {
    margin: 1px 1px 0 0;
    padding: 0 2px;
    font-size: 10px;
    line-height: 12px;
}

.coc7 .item-tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 11px;
    line-height: 14px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

.coc7 .weapon-name {
    height: 18px;
    padding: 1px 0 1px 2px;
    margin: 0;
    overflow: hidden;
}

.coc7 .no-skill-set {
    background-color: red;
}

.dice-roll .dice-total.critical{
    background-color: palegreen;
}

.dice-roll .dice-total.fumble{
    background-color: darkred;
}

.dice-roll .dice-total.regular-success{
    background-color: #ffcc99;
    color: #cc6600;
}

.dice-roll .dice-total.hard-success{
    background-color: #ffff99;
    color: #cc9900;
}

.dice-roll .dice-total.extreme-success{
    background-color: #ccff99;
    color: #009933;
}

.dice-roll .dice-formula.success {
    color: green;
}
.dice-roll .dice-formula.failure {
    color: red;
}

.dice-roll .dice-formula.critical{
    background-color: whitesmoke;
    color: goldenrod;
}

.dice-roll .dice-formula.fumble{
    background-color: black;
    color: crimson;
}

.dice-roll .dice-formula .roll-icons.success {
    color: goldenrod;
}
.dice-roll .dice-formula .roll-icons.critical {
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}

.dice-roll .dice-formula .roll-icons.failure {
    color: crimson;
}

.dice-roll .dice-formula .roll-icons.fumble {
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.coc7 .item-image {
    height: 24px;
    flex: 0 0 24px;
    background-size: 24px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.coc7 .item-image:hover,
.coc7 .skill-image:hover {
    background-image: url("/icons/svg/d20-grey.svg") !important;
}

.coc7 .weapon-image {
    flex: 0 0 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.coc7 .weapon-image:hover {
    background-image: url("/icons/svg/d20-grey.svg") !important;
}


.coc7 .item-summary{
    flex: 0 0 100%;
    font-size: 10px;
    line-height: 11px;
    padding: 0.25em 0.5em;
    border-top: 1px solid #c9c7b8;
}

.coc7 form {
    flex: 1;
    height: 100%;
}

.coc7 .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 9px;
    line-height: 12px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

.coc7 .toggle-switch,
.coc7 .weapon-property,
.coc7 .radio-switch,
.coc7 .panel-switch {
    display: inline-block;
    margin: 2px 2px 0 0;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background: transparent;
    font-style: italic;
    color: grey;
}

.coc7 .toggle-switch.inactive,
.coc7 .simple-flag.inactive {
    border: 1px solid white;
    color: white;
}

.coc7 .toggle-switch.inactive:hover,
.coc7 .simple-flag.inactive:hover {
    cursor: not-allowed;
    background-color: transparent;
}

.coc7 .malfunction{
    text-align: center;
    padding-top: 5px;
    color: red;
    font-size: 15px;
}

.coc7 .switched-on {
    border: 1px solid red;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px red;
    color: black;
    font-style: normal;
}

.coc7 .switched-off {
    display: none;
}

.coc7 label {
    flex: 0;
    height: 22px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    width: calc(100% - 2px);
    padding: 1px 3px;
    margin: 0 0 1px 0;
    border: 1px solid transparent;
}

.coc7.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}

.coc7 input[type="text"],
.coc7 input[type="number"],
.coc7 select {
    flex: 1;
    height: 22px;
    border: 1px solid #7a7971;
    margin: 0 0 1px 0;
    background: rgba(0, 0, 0, 0.05);
    color: #191813;
}

.coc7.sheet .editor {
    height: 100%;
}

.coc7.sheet .item-fields {
    flex: 1;
    height: 100px;
}


.coc7.sheet .editor .tox-toolbar-overlord,
.coc7.sheet .editor .tox-toolbar__primary {
    background: none;
}

.coc7.sheet .skills-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}

.coc7.sheet .skills-list .item {
    width: 320px;
    line-height: 20px;
    border-bottom: 1px solid #BBB;
}

.coc7.sheet .skills-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
    object-fit: contain;
    border: none;
}
.coc7.sheet .skills-list .skill-name {
    margin: 0;
    overflow: hidden;
    height: 16px;
    font-size: 12px;
}

.coc7.sheet.npc .editor {
    width: 100%;
    height: auto;
    min-height: 130px;
}


.coc7.sheet.npc .section-header{
    border: 1px;
    background-color: grey;
    height: 16px;
}
.coc7.sheet .skills-list span {
    flex: none;
    padding-right: 5px;
    text-align: right;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
}

.coc7.sheet .skills-list .item-controls {
    flex: 0 0 auto;
    height: 16px;
    font-size: 10px;
}

.coc7.sheet .skill-image {
    height: 16px;
    flex: 0 0 16px;
    background-size: 18px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.coc7.sheet .item-controls {
    flex: 0 0 auto;
    height: 16px;
}

.coc7.sheet .sheet-header {
    flex: 0 0 100px;
    border-bottom: 2px groove #eeede0;
    font-family: customSheetFont, "Palatino Linotype", serif;
    font-size: 12px;
}

.coc7.sheet .sheet-header .attribute-label {
    font-size: 14px;
    flex: 0;
    margin: 0;
}

.coc7.sheet .sheet-header .attribute-value {
    flex: 0 0 25px;
    text-align: right;
}

.coc7.sheet .sheet-header .attribute-max {
    flex: 0 0 20px;
    text-align: right;
    padding: 0;
}

.coc7.sheet input[type="text"].read-only:hover,
.coc7.sheet input[type="text"].read-only:focus,
.coc7.sheet input[type="number"].read-only:hover,
.coc7.sheet input[type="number"].read-only:focus {
    border: 1px solid #111;
    box-shadow: 0 0 4px black;
}

.coc7.sheet input[type="text"].locked:hover,
.coc7.sheet input[type="text"].locked:focus,
.coc7.sheet input[type="number"].locked:hover,
.coc7.sheet input[type="number"].locked:focus {
    border: 1px solid transparent;
    box-shadow: none;
    cursor: default;
}

.coc7.sheet .sheet-tabs {
    flex: 0 0 20px;
    margin-bottom: 5px;
    font-family: customSheetFont, "Palatino Linotype", serif;
    font-size: 20px;
    border: 0;
}

.coc7.sheet .sheet-tabs .item {
    line-height: 15px;
    margin: 0 10px;
    border-bottom: 3px solid #b5b3a4;
}

.coc7.sheet .sheet-tabs .item.active {
    border-bottom: 3px solid #44191A;
}

.coc7.sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    font-size: 13px;
    color: #191813;
    display: inline;
}

.coc7.sheet .window-content .tab {
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
    padding: 0 5px;
}

.coc7.sheet input[type="text"],
.coc7.sheet input[type="number"]
 {
    background: none;
    border: 1px solid transparent;
}

.coc7.sheet input[type="text"]:hover,
.coc7.sheet input[type="text"]:focus,
.coc7.sheet input[type="number"]:hover,
.coc7.sheet input[type="number"]:focus {
    border: 1px solid #111;
    box-shadow: 0 0 4px red;
}

.coc7.sheet .editable .rollable:hover,
.damage-roll.rollable:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.coc7.sheet.actor .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 150px;
    margin-bottom: 5px;
}
.coc7.sheet.actor .info-fields {
    flex: 1;
    margin: 0 5px;
    height: fit-content;
}

.coc7.sheet.actor .info-field label {
    flex: 1;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 2px)
}

.coc7.sheet.actor .info-fields .form-group,
.coc7.sheet.actor .info-fields .form-group-stacked {
    margin: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.coc7.sheet.actor .characteristics {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #c3c3c3;
    margin: 0 5px;
    height: fit-content;
}

.coc7.sheet.actor .characteristics .characteristic-box {
    flex: 0 0 25%;
    height: 70px;
    text-align: center;
    flex-flow: column nowrap;
    border: 1px solid #c3c3c3;
}


.coc7.sheet.actor .characteristics .characteristic-box .characteristic-label{
    line-height: 16px;
    margin: 4px 8px 2px;
    font-size: 15px;
    border-bottom: 1px solid #b5b3a4;
}

.coc7.sheet.actor .characteristics .characteristic-box input.characteristic-score {
    height: 30px;
    width: 50px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 24px;
}

.coc7.sheet.actor .characteristics .characteristic-box .characteristics-threshold{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 24px;
    margin: -10px 0 0;
}

.coc7.sheet.actor .characteristics .characteristic-box .characteristics-threshold .characteristics-hard,
.coc7.sheet.actor .characteristics .characteristic-box .characteristics-threshold .characteristics-extreme{
    flex: 0 0 24px;
    height: 24px;
    border-top: 2px groove #eeede0;
    font-size: 20px;
}

.coc7.sheet.actor .characteristics .characteristic-box .characteristics-threshold .characteristics-hard{
    border-right: 2px groove #eeede0;
}

.coc7.sheet.actor .characteristics .characteristic-box .characteristics-threshold .characteristics-extreme{
    border-left: 2px groove #eeede0;
}
.coc7.sheet.actor img {
    flex: 0 0 100px;
    height: 100px;
    max-width: 100px;
    margin: 6px;
    object-fit: contain;
    border: none;
}

.coc7.sheet.actor.character {
    min-width: 672px;
    min-height: 765px;
}



.coc7.sheet .sheet-body {
    flex: 1;
    overflow: hidden;
}

.coc7 .form-group label {
    flex: 1;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
}

.coc7 .form-group .form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.coc7 .form-group .form-fields > * {
    flex: 1;
}

.coc7 .form-group .form-fields .flex1 {
    flex: 1;
}

.coc7 .form-group .form-fields .flex2 {
    flex: 2;
}

.coc7 .form-group .form-fields .flex3 {
    flex: 3;
}

.coc7 .form-group .form-fields .flex4 {
    flex: 4;
}

.coc7 .form-group .form-fields > * {
    margin: 0 3px 0 0;
}

.coc7 .form-group .form-fields > *:last-child {
    margin-right: 0;
}

.coc7 .form-group.stacked label {
    flex: 0 0 100%;
    margin: 0;
}

.coc7 .form-group.stacked label.checkbox {
    flex: auto;
    text-align: left;
}

.coc7.sheet.actor ol.skills-list {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
}

.coc7.sheet.actor ol.skills-list li.skill {
    height: 22px;
    padding: 3px 0;
}

.coc7.sheet.actor ol.skills-list li.skill h4 {
    flex: 1px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
}

.coc7.sheet.actor ol.skills-list li.skill .skill-proficiency {
    flex: 0 0 16px;
    line-height: 18px;
}

.coc7.sheet.actor ol.skills-list li.skill .skill-ability {
    flex: 0 0 26px;
}

.coc7.sheet.actor ol.skills-list li.skill .skill-mod {
    flex: 0 0 20px;
}

.coc7.sheet.actor ol.skills-list li.skill .skill-passive {
    flex: 0 0 26px;
    text-align: center;
    color: #7a7971;
}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .flexrow > * {
    flex: 1;
  }
  .flexrow .flex1 {
    flex: 1;
  }
  .flexrow .flex2 {
    flex: 2;
  }
  .flexrow .flex3 {
    flex: 3;
  }
  .flexrow .flex4 {
    flex: 4;
  }
  .flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flexcol > * {
    flex: 1;
  }
  .flexcol .flex1 {
    flex: 1;
  }
  .flexcol .flex2 {
    flex: 2;
  }
  .flexcol .flex3 {
    flex: 3;
  }
  .flexcol .flex4 {
    flex: 4;
  }

.coc7.chat-card {
    font-style: normal;
    font-size: 12px;
}

.coc7.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
}

.coc7.chat-card .card-header img {
    flex: 0 0 36px;
    margin: 0;
    object-fit: contain;
    border: none;
}

.coc7.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    /* font-family: customSheetFont, "Palatino Linotype", serif; */
    font-size: 20px;
    /* color: #4b4a44; */
}

.coc7.chat-card .card-header h3:hover {
    color: #111;
    text-shadow: 0 0 10px red;
}

.coc7.chat-card .card-content {
    display: none;
    margin: 5px 0;
}

.coc7.chat-card .card-content h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.coc7.chat-card .card-content > * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.coc7.chat-card .card-buttons {
    margin: 5px 0;
}

.coc7.chat-card .card-buttons span {
    display: block;
    line-height: 28px;
    text-align: center;
    border: 1px solid #CCC;
}

.coc7.chat-card .card-buttons button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
}

.coc7.chat-card .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
}

.coc7.chat-card .card-footer span {
    border-right: 2px groove #FFF;
    padding: 0 5px 0 0;
    font-size: 10px;
}

.coc7.chat-card .card-footer span:last-child {
    border-right: none;
    padding-right: 0;
}