.worldbuilding.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
}

/* Sheet Header */
.worldbuilding.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.worldbuilding.sheet .skill-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 500px;
    margin-bottom: 10px;
}

.worldbuilding.sheet .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.worldbuilding.sheet .header-fields {
    flex: 1;
    height: 100px;
}

.worldbuilding.sheet .charname {
    height: 60px;
    padding: 5px;
    margin: 0;
    border-bottom: 0;
}
.worldbuilding.sheet .charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.worldbuilding.sheet .resource {
    height: 40px;
    width: 25%;
    padding: 3px 3px;
    float: left;
}
.worldbuilding.sheet .resource input {
    width: 40px;
    height: 28px;
}

/* Navigation Tabs */
.worldbuilding.sheet .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.worldbuilding.sheet .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.worldbuilding.sheet .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

/* Content Tabs */
.worldbuilding.sheet .sheet-body {
    height: calc(100% - 160px);
}
.worldbuilding.sheet .sheet-body .tab {
    height: 100%;
}
.worldbuilding.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}


/* Items */
.worldbuilding.sheet .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.worldbuilding.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.worldbuilding.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.worldbuilding.sheet .items-list .item-name {
    margin: 0;
}
.worldbuilding.sheet .items-list .item-controls {
    flex: 0 0 36px;
}

/* Attributes */
.worldbuilding.sheet .attributes-header { 
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.worldbuilding.sheet .attribute-label { 
    flex: 1.5;
}
.worldbuilding.sheet .attribute-control { 
    flex: 0 0 20px;
}

.worldbuilding.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.worldbuilding.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.worldbuilding.sheet .attribute-value.checkbox {
    text-align: center;
}

.worldbuilding.sheet .attributes-list li a.attribute-control {
    border: none;
}

.worldbuilding.sheet .item-image {
    flex: 0 0 24px;
    background-size: 24px;
    margin-right: 5px;
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .flexrow > * {
    flex: 1;
  }
  .flexrow .flex1 {
    flex: 1;
  }
  .flexrow .flex2 {
    flex: 2;
  }
  .flexrow .flex3 {
    flex: 3;
  }
  .flexrow .flex4 {
    flex: 4;
  }
  .flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flexcol > * {
    flex: 1;
  }
  .flexcol .flex1 {
    flex: 1;
  }
  .flexcol .flex2 {
    flex: 2;
  }
  .flexcol .flex3 {
    flex: 3;
  }
  .flexcol .flex4 {
    flex: 4;
  }


/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.worldbuilding.chat-card {
    font-style: normal;
    font-size: 12px;
}

.worldbuilding.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
}

.worldbuilding.chat-card .card-header img {
    flex: 0 0 36px;
    margin-right: 5px;
}

.worldbuilding.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: customSheetFont, "Palatino Linotype", serif;
    font-size: 20px;
    color: #4b4a44;
}

.worldbuilding.chat-card .card-header h3:hover {
    color: #111;
    text-shadow: 0 0 10px red;
}

.worldbuilding.chat-card .card-content {
    display: none;
    margin: 5px 0;
}

.worldbuilding.chat-card .card-content h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.worldbuilding.chat-card .card-content > * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.worldbuilding.chat-card .card-buttons {
    margin: 5px 0;
}

.worldbuilding.chat-card .card-buttons span {
    display: block;
    line-height: 28px;
    text-align: center;
    border: 1px solid #CCC;
}

.worldbuilding.chat-card .card-buttons button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
}

.worldbuilding.chat-card .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
}

.worldbuilding.chat-card .card-footer span {
    border-right: 2px groove #FFF;
    padding: 0 5px 0 0;
    font-size: 10px;
}

.worldbuilding.chat-card .card-footer span:last-child {
    border-right: none;
    padding-right: 0;
}